@font-face {
	font-family: irans;
	font-style: normal;
	font-weight: 500;
	src: url('../../../src/fonts/sans/eot/IRANSansWeb_Medium.eot');
	src: url('../../../src/fonts/sans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		  url('../../../src/fonts/sans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		  url('../../../src/fonts/sans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		  url('../../../src/fonts/sans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: lalezar;
	font-style: normal;
	font-weight: normal;
	src: url('../../../src/fonts/lalezar/lalezar.eot');
	src: url('../../../src/fonts/lalezar/lalezar.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 /* url('/src/fonts/lalezar/lalezar.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ 
		  url('../../../src/fonts/lalezar/lalezar.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		  url('../../../src/fonts/lalezar/lalezar.ttf') format('truetype');
}
@font-face {
	font-family: irans; 
	font-style: normal;
	font-weight: normal;
	src: url('../../../src/fonts/sans/eot/IRANSansWeb.eot');
	src: url('../../../src/fonts/sans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		  url('../../../src/fonts/sans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		  url('../../../src/fonts/sans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		  url('../../../src/fonts/sans/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: lalezar;
	font-style: normal;
	font-weight: normal;
	src: url('../../../src/fonts/lalezar/lalezar.eot');
	src: url('../../../src/fonts/lalezar/lalezar.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		  url('../../../src/fonts/lalezar/lalezar.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		  url('../../../src/fonts/lalezar/lalezar.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		  url('../../../src/fonts/lalezar/lalezar.ttf') format('truetype');
}
@font-face {
	font-family: khordad;
	font-style: normal;
	font-weight: normal;
	src: url('../../../src/fonts/khordad/khordad.eot');
	src: url('../../../src/fonts/khordad/khordad.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		  url('../../../src/fonts/khordad/khordad.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		  url('../../../src/fonts/khordad/khordad.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		  url('../../../src/fonts/khordad/khordad.ttf') format('truetype');
}
@font-face {
	font-family: fanum;
	font-style: normal;
	font-weight: 100;
	src: url('../../../src/fonts/sans/fanum/irsfanum.eot');
	src: url('../../../src/fonts/sans/fanum/irsfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8*/
		  url('../../../src/fonts/sans/fanum/irsfanum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		  url('../../../src/fonts/sans/fanum/irsfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		  url('../../../src/fonts/sans/fanum/irsfanum.ttf') format('truetype');
}
@font-face {
	font-family:'mat';
	src:	url('../../../src/fonts/material/material.eot');
	src:	url('../../../src/fonts/material/material.eot?#iefix') format('embedded-opentype'),
			url('../../../src/fonts/material/material.woff') format('woff'),
			url('../../../src/fonts/material/material.ttf') format('truetype'),
			url('../../../src/fonts/material/material.svg#materialdesigniconsregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
html {
  font-size: 13px;
  font-family: irans;
  text-align: right;
}
@-webkit-keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}
@keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}
@-webkit-keyframes rotate {
	0%{
	    -webkit-transform: rotate(0deg);
	}
	50% {
	    -webkit-transform: rotate(90deg);
	}
	100% {
	    -webkit-transform: rotate(180deg);
	}
}
@keyframes rotate {
	0%{
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
body {
  margin: 0;
  padding: 0;
  line-height: initial;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
a{
  text-decoration: none;
}
h1 {
  font-size: 3.5rem;
}
.scroll {
position: absolute;
	font-size: 1.3em;
	margin: 20px auto;
	display: block;
	height: 100px;
	text-align: center;
	width: 130px;
	bottom: 0;
	right: calc(50vw - 65px);
}
.scroll:after {
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.scroll:after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 10px;
  right: 0;
  left: 0;
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}
section.panel.main {
	background: url(../images/back.jpg);
	background: #f5f5f5;
	background-size: cover;
	display: flex;
	align-items: flex-start;
	color: #101010;
	font-size: 2rem;
	position: relative;
	/* border-bottom: 2px solid #2196F3; */
	min-height: 100vh;
}
section.panel.main:before {
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
section.panel.main .inner {
	z-index: 1;
	width: 90%;
	max-width: 900px;
	box-sizing: border-box;
	margin: 80px auto;
	background: rgba(255, 255, 255, 1.7);
	border-radius: 10px;
	padding: 50px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
section.panel.main .inner:before {
	content: "";
background: url(/96/eidtaeid/src/ghadir.png);
	display: block;
	width: 380px;
	height: 200px;
	margin: -40px auto 30px;
	background-size: contain;
	background-repeat: no-repeat;
}
section.panel.main h1 {
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 40px;
	margin: auto;
	font-family: fanum;
	padding: 20px 0 0;
	color: #555;
	/* text-shadow: 0 1px 1px #000; */
}
p.tagline {
	margin: 0;
	font-family: lalezar;
	font-size: 3.5rem;
	display: inline-block;
	border-bottom: 2px solid #3e80c3;
	color: #01479e;
	/* text-shadow: 0 2px 4px #000; */
}
div#smile {
	position: absolute;
	width: 140%;
	height: 90vh;
	background: #81D4FA;
	transform: rotate(-10deg);
	right: -20%;
	top: -20vh;
}
canvas {
	width: 100%;
	height: 100%;
}
p.tagline span {
	color: #D32F2F;
	color: #ff2626;
	text-shadow: 0 2px 3px #fff;
	font-size: 5rem;
	line-height: 10rem;
	padding: 0 15px;
}
p.tagline:before {
	/* content: ""; */
	width: 580px;
	height: 4px;
	background: #2196F3;
	position: absolute;
	bottom: -3px;
	right: 0;
	right: calc(50% - 285px);
}
.tarikh {
	font-family: fanum;
	display: inline-block;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	background: rgba(0, 0, 0, 0.25);
	padding: 5px 15px;
	border-radius: 5px;
	margin-top: 20px;
}	
.tarikh:before {
	content: "";
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url(../images/calendar.svg);
	vertical-align: middle;
	margin-left: 20px;
}
p.desc {
  font-size: 2rem;
	margin-top: 0;
  /* word-spacing: 5px; */
}
p.desc > span {
  font-family: fanum;
  background: #F44336;
  color: #fff;
  text-shadow: none;
  margin: 0 10px 0 20px;
  padding: 0 10px 0 0;
  font-weight: bold;
  font-size: 4rem;
  display: inline-block;
  letter-spacing: -10px;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  line-height: 4.8rem;
}
p.desc span span:first-child {
	font-size: 1.5rem;
	letter-spacing: 0;
}
p.desc span span {
	z-index: 1;
	position: relative;
}
p.desc > span:before, p.desc > span:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background: #F44336;
  z-index: 0;
}
p.desc > span:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
p.desc > span:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}




.fajr-sections{
  position: relative;
}
.contain {
  display: flex;
  padding: 0 40px;
  position: relative;
}
#desc > h2 {
  text-align: center;
  background: #fff;
  width: 500px;
  margin: 30px auto 60px;
  position: relative;
}
#desc > h2:after{
  width: 100%;
  background: #fff;
  right: 0;
  z-index: -1;
}
.fajr-description {
  padding: 10px 30px;
  background-color: #E0F7FA;
  font-size: 1.1rem;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  margin: 40px -180px 30px 15%;
}
.fajr-link.more a {
  display: inline-flex;
  justify-content: center;
  background-color: #03A9F4;
  color: white !important;
  width: 100%;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.fajr-link.more {
  padding: 5px;
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg);
  width: 90px;
  height: 90px;
  left: calc(10% - 40px);
  bottom: 80px;
  background: #fff;
  z-index: 1;
}
#section2 .contain {
  flex-direction: column;
  padding: 0;
}
section.panel.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb
}
#section2 .fajr-image img {
  max-width: 500px;
  height: auto;
  width: 100%;
}
#section2 .fajr-link.allmany {
  margin: 60px 40px 10px 0;
  background-color: #c4e1e9;
}
#section2 .fajr-title h2 {
  border-bottom: 1px solid #c00a65;
  margin: 0 0 100px 0;
  font-size: 2rem;
  padding: 10px;
  margin-left: 10%;
}
div#section2 {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
.fajr-link.many{
  display: inline-block;
  vertical-align: middle;
}
#section2 .fajr-link.many a:hover {
  background: rgba(255, 255, 255, 0.5);
}
#section2 .fajr-link.many a{
  color: #222;
  display: flex;
  font-size: 1.3rem;
  margin: 0 -1px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
#section2:before {
  content: "ENG808";
  font-size: 170px;
  color: #aaa;
  position: absolute;
  opacity: 0.12;
  z-index: 0;
  right: 0;
  bottom: 0;
  height: 230px;
}
#section2 .fajr-link.more {
  border: 2px solid #f9f9f9;
  left: -50px;
  background: transparent;
}
#section2 .fajr-link.more a {
    background-color: #651d21;
}
section.section3 {
  background-image: url(//civil808.com/sites/all/themes/sara/images/shop.jpg);
  padding: 100px;
  background-position: bottom;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.section3 .main-shop a {
  width: 18%;
  display: inline-block;
  margin: 40px 0 30px 0 !important;
  position: relative;
  vertical-align: middle;
}
p.main-shop a {
  font-size: 30px !important;
  color: #fff !important;
  margin: 0 10px !important;
  transition: all 0.15s ease;
  font-weight: bold;
}
p.main-shop {
  direction: rtl;
}
p.all-product {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding: 0 2%;
  flex-wrap: wrap;
}
p.all-product a {
  color: #000 !important;
  font-size: 22px !important;
  border: 2px solid #fff;
  border-radius: 25px;
  text-shadow: none;
  padding: 4px 2%;
  background: rgba(255,255,255,0.4);
  transition: all 0.2s;
  margin: 0px 10px 15px;
}
p.all-product a.featured:before {
  content: "\f46f";
  font-family: mat;
  font-size: 27px;
}
p.all-product a:before {
  content: "\f03b";
  font-family: mat;
  margin: 0 0px 0 20px;
  vertical-align: middle;
  font-size: 28px;
  color: #666;
}
p.all-product a.catalog:before {
  content: "\f162";
}
ul.navigat {
  position: fixed;
  left: 20px;
  z-index: 10;
  color: #fff;
  top: calc(50% - 130px);
}
ul.navigat li {
  padding: 5px 0;
  white-space: nowrap;
}
ul.navigat li {
  padding: 10px 0;
  text-align: left;
  list-style: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
ul.navigat li:hover span {
  opacity: 1;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 1px 10px;
  border-radius: 5px;
}
ul.navigat li:after {
  content: "\f130";
  font-family: mat;
  left: 0;
  position: absolute;
  margin-top: 3px;
  text-shadow: 0 0 4px #000;
}
ul.navigat li span {
  white-space: nowrap;
  opacity: 0;
  margin-left: -20px;
  transition: all 0.2s ease;
  position: relative;
}
ul.navigat li span:before {
  content: "";
  border: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -10px;
  display: block;
  top: 6px;
  height: 0;
  z-index: 4;
}
a.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background: #777;
  border-top: 5px solid #F44336;
  margin-top: -1px;
}
a.footer:after {
  content: "\f04d";
  font-family: mat;
  margin: 0 20px 0 0;
}
span.seperator {
	height: 800px;
	min-width: 1px;
	background: #ccc;
	display: inline-block;
	z-index: 1;
	position: relative;
	margin: 80px 20px 0;
}
.login-container {
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  background: #f5f5f5;
	margin: 20px auto 30px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	max-width: 400px;
}
.login-container a {
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  font-size: 1.1rem;
  background: #2196F3;
  color: #fff;
  border-radius: 2px;
  transition: all 0.2s ease;
  min-width: 35%;
  text-align: center;
}
.login-container a:hover {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  opacity: 0.8;
}
.login-container a.register {
  background: #9C27B0;
}
span.num {
  /*border: 5px solid #777; */
  background: #fff;
  padding: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: fanum;
  color: #777;
  margin: 15px auto;
  position: relative;
}
p.section-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
span.num:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  right: -5%;
  top: -5%;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #008eff ,#ef01bb);
  -webkit-animation: 6s rotate infinite cubic-bezier(0.76, 0.38, 0.27, 0.61);
  animation: 6s rotate infinite cubic-bezier(0.76, 0.38, 0.27, 0.61);
}
div#desc .contain > div {
	width: 50%;
	padding: 20px;
}
div#desc {
  width: 100%;
}
#desc > h2 {
  margin: 20px auto 40px;
}
.section-desc p {
  font-size: 1.2rem;
}
.section-desc {
  margin-top: 50px;
}
.section-desc div a {
  display: block;
  padding: 5px;
  font-size: 1.1rem;
  color: #777;
  font-weight: 500;
}
.section-desc div a:before {
  content: "\f04d";
  font-family: mat;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 15px;
  font-weight: bold;
  color: #673AB7;
}
div.seperator {
  margin: 40px auto;
  display: block;
  height: 1px;
  background: #673AB7;
  width: 120px;
}
p.titr:before {
  content: "";
  background: linear-gradient(to bottom left, #008eff ,#ef01bb);
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  margin: 0 0 0 15px;
}
p.titr span {
  font-size: 1.1rem;
  margin-right: 10px;
}
section.panel {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
}
#steps img.main {
	width: 300px;
	display: block;
	margin: 20px auto 20px;
}
.parts a img,.parts > span img {
	width: 120px;
	margin: auto;
	display: block;
}
.parts a, .parts > span {
	text-align: center;
	display: inline-block;
	width: 100%;
}
.parts a span, .parts >span a {
	padding: 10px 20px;
	margin: 20px auto;
	display: block;
	width: 140px;
	background: #eee;
	color: #555;
	font-size: 16px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.parts .description {
	margin: 15px auto;
	text-align: center;
	font-size: 15px;
	line-height: 3em;
	max-width: 400px;
}
span.vertical:before {
	content: "\f043";
	font-family: mat;
	font-size: 35px;
	color: #2196F3;
	transform: rotate(45deg);
	display: inline-block;
	width: 35px;
	margin: auto;
}
span.vertical {
	display: block;
	text-align: center;
	margin: 20px;
}
.shipping div {
	width: 220px;
	margin: auto;
	position: relative;
	height: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f2f2f2;
}
.shipping div:before, .shipping div:after {
	content: "";
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	border: solid;
	border-width: 0px 110px 60px;
	border-color: transparent #fff transparent #fff;
	z-index: 1;
}
.shipping img {
	width: 220px;
	margin: auto;
	display: block;
	position: relative;
}
.shipping div:after {
	bottom: 0;
	top: inherit;
	transform: rotate(180deg);
}
.shipping {
	text-align: center;
	font-size: 20px;
}
div#desc .contain > div:before, div#desc .contain > div:after {
	content: "\f043";
	margin: 0 auto 40px 0;
	display: block;
	width: 70%;
	text-align: center;
	font-family: mat;
	font-size: 35px;
	color: #2196F3;
}
div#desc .contain > div.left-part:before, div#desc .contain > div.left-part:after {
	content: "\f042";
	margin: 0 0 40px auto;
}
div#desc .contain > div.left-part:after {
	content: "\f043";
}
div#desc .contain > div:after{
	content: "\f042";
}
section#steps {
	padding: 50px;
}
section#profile {
	background-image: url(../images/back.svg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	/* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; */
	padding: 30px;
}
.node {
	background: #fff;
	margin: 20px 5% 80px;
	padding: 15px;
	display: inline-flex;
	width: 90%;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.node > div {
	width: 50%;
}
.group-right {
	text-align: center;
	background: #fbfbfb;
	margin: -15px 15px -15px -15px;
}
.node img{
	max-width: 100%;
}
section#profile h2 {
	display: inline-block;
	margin: 30px 70px 20px;
}
.panel h2 {
	font-family: lalezar;
	font-size: 2.5rem;
}
section#profile h2:before {
	content: "\f2a1";
	font-family: mat;
	font-size: 5rem;
	text-align: center;
	color: #2196F3;
	box-sizing: border-box;
	background: #fff;
	vertical-align: middle;
	margin: 0 0 0 30px;
	width: 53px;
	height: 34px;
	display: inline-block;
	line-height: 21px;
	letter-spacing: -6px;
}
.shop-links a.btn {
	display: block;
	padding: 10px 20px;
	background-color: #eee;
	border-radius: 5px;
	color: #1976D2;
}
.shop-links{
	display:flex;
	width:100%;
	text-align:center;
	justify-content: space-around;
}
.product-info {
  font-family: fanum;
}
span.uc-price {
  color: #4CAF50;
  font-family: fanum;
}
.list-price .uc-price {
  color: #F44336;
  text-decoration: line-through;
}
.product-info.list-price {
  border-width: 0 3px 0 0;
  padding: 20px 30px;
  margin-top: 30px;
}
.product-info.uc-takhfif {
  margin: 0 30px 0 0;
  display: inline-block;
  background: #f9f9f9;
  padding: 3px 15px;
  border-right: 5px solid #F44336;
}
a.add-to-cart {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 2px;
  background: #4CAF50;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.add-to-cart span {
  font-size: 1.2rem;
  margin: 0 15px;
}
.add-to-cart {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 30px 20px;
}
body:before {
	/* content: "تا 27 مرداد تمدید شد"; */
	font-family: fanum;
	position: fixed;
	width: 350px;
	background: #F44336;
	z-index: 10;
	color: #fff;
	text-align: center;
	font-size: 30px;
	right: calc(50% - 175px);
	border-radius: 0 0 25px 25px;
	border: 2px solid #fff;
	border-top: 0;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

section#profile-features {
	background: #f5f5f5;
	padding: 50px 80px 90px;
}
#profile-features h2 img {
	max-width: 200px;
	display: block;
	margin: 0 auto 20px;
	/* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; */
}
#profile-features .features {
	display: flex;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	margin-top: 50px;
	/* align-items: baseline; */
}
.features img {
	width: 100px;
}
.features > div:hover {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.features > div {
	width: 25%;
	margin: 0 15px;
	border-radius: 5px;
	padding: 15px;
	transition: all 0.2s;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
#profile-features h2 {
	font-weight: normal !important;
	text-align: center;
}
.btn {
	padding: 5px 20px;
	font-size: 15px;
	color: #fff;
	background: #2196F3;
	border-radius: 2px;
	margin: 10px 0 10px;
	display: inline-block;
	background-image: linear-gradient(-180deg,hsla(0,0%,100%,.18),hsla(0,0%,100%,0));
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
#moshaver {
	padding: 50px 80px 90px;
	border-top: 1px solid #F44336;	
}
#ebooks {
	border-top: none;	
	position: relative;
	padding: 0px 80px 90px;
}
#ebooks:before {
	content: "";
	background-image: url(http://land.civil808.com/96/summer/images/sunbed.svg);
	width: 250px;
	background-size: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 calc(50% - 125px) 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	z-index: 1;
	position: relative;
}
#ebooks:after {
	content: "";
	position: absolute;
	top: 60px;
	height: 1px;
	background: red;
	width: 60%;
	right: 20%;
}
h2.no-bg:before {
	display: none !important;
}
h2.no-bg {
	text-align: center;
	display: block !important;
}
.users {
	display: flex;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	margin-top: 50px;
}
.users img {
	width: 100px;
	height: auto;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px
}
.users > *{
	width: 20%;
	background: #f5f5f5;
	margin: 0 15px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.users p {
	font-weight: 500;
}
.users a {
	color: #333;
}
.users .btn {
	background: #fff;
	color: #555;
	font-size: 12px;
	float: left;
	padding: 5px 10px;
}
.users a span.btn {
	float: right;
}
#ebooks h2,
#moshaver h2 {
	text-align: center;
	font-family: lalezar;
	font-size: 2.5rem;
}
.profile-vip {
	margin: 50px auto 0;
	max-width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #f00;
	padding-top: 40px;
}
.profile-vip p {
	font-weight: bold;
	font-size: 20px;
	margin: 0 20px 0 60px;
}


.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}

.owl-item .item {
	background: #2196F3;
	padding: 15px;
}
.owl-item .item {
	background: #abc;
	padding: 15px;
}
.owl-item .row {
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	background: #fff;
}
.owl-item .row .title {
	font-size: 1.15rem;
	padding: 10px;
	display: inline-block;
	color: #333;
	font-weight: 500;
	line-height: 2.3rem;
}
.owl-carousel {
	padding: 50px 5%;
	width: 90% !important;
}
.owl-carousel .owl-item img {
	height: auto;
	margin: auto;
}
.owl-dot span:before {
	content: "";
	background: #aaa;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.owl-dot.active span:before {
	background: #333;
}
.owl-dots {
	display: flex;
	justify-content: center;
}
.owl-dot {
	padding: 0 10px;
	margin: 0 5px;
}
.owl-nav {
	display: flex;
	justify-content: center;
}
.owl-nav div {
	background: #eee;
	margin: 10px 20px 20px;
	padding: 5px 25px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	font-size: 15px;
	color: #555;
}
.owl-prev:after {
	content: "\f142";
	font-family: mat;
	font-size: 34px;
	vertical-align: middle;
	line-height: 0;
	color: #2196F3;
}
.owl-prev {
	padding-right: 5px !important;
}
.owl-next{
	padding-left: 5px !important;
}
.owl-next:before {
	content: "\f141";
	font-family: mat;
	font-size: 34px;
	vertical-align: middle;
	line-height: 0;
	color: #2196F3;
}

section#new-lock {
	background: #eee;
	padding: 50px 80px 80px;
	text-align: center;
}
#new-lock h2 {
	font-family: lalezar;
	font-size: 2.5rem;
}
.lock-desc {
	text-align: center;
	font-size: 16px;
	margin-top: 50px;
}
#new-lock h2 img {
	display: block;
	margin: auto;
}
#aff {
	padding: 50px 80px 90px;
}
.aff-desc {
	display: flex;
}
.aff-desc > * {
	width: 50%;
	text-align: center;
}
img.charts {
	height: auto;
	width: 100%;
}
#aff h2 {
	text-align: center;
	margin-bottom: 50px;
}
#aff h2 img {
	display: block;
	margin: auto;
	max-width: 200px;
	margin-bottom: 20px;
}

@media (max-width:1200px) {

}
@media (max-width:960px) {
.contain {
  padding: 0 10px;
}
section.section3 {
  padding: 100px 10px;
}
div#section2 {
  flex-direction: column;
}
#section2 .contain {
  width: 90vw;
}
#section2:before {
  bottom: inherit;
  z-index: 1;
  opacity: 0.7;
  top: 100px;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
#section2 .fajr-link.allmany {
  margin: -10px 20px 0px 30px;
}
#section2 .fajr-link.more {
  left: 0;
  margin-bottom: -50px;
}


}
@media (max-width:840px) {
.fajr-description {
  margin: 50px 10px 0 10px;
}
#desc .contain {
  flex-direction: column;
}
span.seperator {
  height: 1px;
  width: 100%;
  margin: 20px 0;
}
span.num {
  float: right;
  margin: 20px 10px 20px 20px;
}
div#desc .contain > div {
  width: inherit;
}
p.section-title {
  display: inline-block;
  margin: 30px 10px 10px 0px;
}
.login-container {
  display: inline-flex;
  width: calc(100% - 160px);
  margin: 20px 0 20px 0;
}
#desc > h2 {
  margin: 40px auto 30px;
}
.section-desc {
  width: calc(100% - 160px);
  margin: 0px 0 20px 0;
  display: inline-block;
}



}
@media (max-width:360px) {
	a.back:link, a.back:visited {
		left:30px;
	}
	.social-corner {
		right:30px;
	}
	.ads-container {
		min-height:200px;
		padding-bottom:0;
	}
	#carbonads {
		width:100%;
		padding-left: 0;
		padding-right: 0;
	}
	#carbonads a {
		float:none;
		display:block;
		text-align: center;
	}
	#carbonads .carbon-poweredby,
	#carbonads .carbon-text {
		width:90%;
		text-align: left;
	}
}
