/*medias*/
/*mixins*/
.no-acrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.no-paper {
  background: transparent;
  padding: 0;
  box-shadow: none;
}
/*--------------------------------webkits-----------------------------*/
.just-for-me {
  display: none;
}
.uid-3989 .just-for-me {
  display: block;
}
.uid-3989 .not-for-me {
  display: none !important;
}
.kargah-sec h2,
.timing h2,
.second h2 {
  position: relative;
  text-align: center;
  /*margin: 0 0 39px 0;
        font-size: 22px;*/
}
.kargah-sec h2:before,
.timing h2:before,
.second h2:before {
  content: "";
  position: absolute;
  width: 130px;
  height: 3px;
  background: #883ab7;
  bottom: -10px;
  right: calc(50% - 65px);
  box-shadow: rgba(136, 58, 183, 0.15) 0px 1px 6px, rgba(136, 58, 183, 0.157) 0px 1px 4px;
}
/*first section - the main explain of landing page*/
section.kargah-sec {
  padding: 80px 5% 30px 5%;
}
@media (max-width: 600px) {
  section.kargah-sec {
    padding: 50px 15px 30px;
  }
}
section.kargah-sec .first-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 600px) {
  section.kargah-sec .first-row {
    flex-direction: column-reverse;
    align-items: center;
  }
}
section.kargah-sec .first-row > div:first-child {
  width: 800px;
}
@media (max-width: 600px) {
  section.kargah-sec .first-row > div:first-child {
    width: 100%;
    margin: 30px 0 0;
  }
}
section.kargah-sec .first-row > div:first-child p {
  font-size: 14px;
  line-height: 28px;
}
section.kargah-sec .first-row > div:first-child li {
  line-height: 25px;
}
section.kargah-sec .first-row .important {
  padding: 0px 13px;
  border: solid #FF5722;
  border-width: 0 2px 0 0px;
  font-size: 13px !important;
  max-width: 700px;
}
/*timing section*/
section.timing {
  margin: 90px 0 0;
  position: relative;
}
section.timing h2 {
  text-align: center;
}
.timing-wh {
  display: flex !important;
  align-items: start;
  justify-content: space-evenly;
  padding: 30px 0 70px 0;
  margin: 50px 0 0 0;
}
.six-box .timing-wh {
  padding: 30px 25px 70px 25px !important;
}
@media (max-width: 768px) {
  .four-box .timing-wh,
  .two-box .timing-wh {
    align-items: center;
    justify-content: center;
    padding: 30px 0 110px 0;
    margin: 50px 0 0 0;
    flex-direction: column;
  }
  .four-box .timing-wh:before,
  .two-box .timing-wh:before {
    display: none;
  }
  .four-box .timing-wh .timebox,
  .two-box .timing-wh .timebox {
    text-align: center;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
  }
  .four-box .timing-wh .timebox.little-one .circle:after,
  .two-box .timing-wh .timebox.little-one .circle:after {
    height: 100px;
  }
  .four-box .timing-wh .timebox .moddat,
  .two-box .timing-wh .timebox .moddat {
    font-size: 14px;
    width: 71px;
    position: absolute;
    margin-top: -34px;
    right: -21px;
  }
  .four-box .timing-wh .timebox .circle,
  .two-box .timing-wh .timebox .circle {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .four-box .timing-wh .timebox .circle:after,
  .two-box .timing-wh .timebox .circle:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 127px;
    background-color: #d1b5e2;
    top: 28px;
  }
  .four-box .timing-wh .timebox .line,
  .two-box .timing-wh .timebox .line {
    height: 2px;
    width: 40px;
    margin: auto;
  }
  .four-box .timing-wh .timebox .description,
  .two-box .timing-wh .timebox .description {
    margin: 5px 0;
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .six-box .timing-wh {
    align-items: center;
    justify-content: center;
    padding: 30px 0 110px 0;
    margin: 50px 0 0 0;
    flex-direction: column;
  }
  .six-box .timing-wh:before {
    display: none;
  }
  .six-box .timing-wh .timebox {
    text-align: center;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
  }
  .six-box .timing-wh .timebox.little-one .circle:after {
    height: 100px;
  }
  .six-box .timing-wh .timebox .moddat {
    font-size: 14px;
    width: 71px;
    position: absolute;
    margin-top: -34px;
    right: -21px;
  }
  .six-box .timing-wh .timebox .circle {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .six-box .timing-wh .timebox .circle:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 127px;
    background-color: #d1b5e2;
    top: 28px;
  }
  .six-box .timing-wh .timebox .line {
    height: 2px;
    width: 40px;
    margin: auto;
  }
  .six-box .timing-wh .timebox .description {
    margin: 5px 0;
    width: 300px;
  }
}
.timing-wh:before {
  content: " ";
  position: absolute;
  top: 171px;
  height: 2px;
  width: 72%;
  background-color: #d1b5e2;
}
.four-box .timing-wh:before {
  width: 72%;
}
.two-box .timing-wh:before {
  width: 40%;
}
.six-box .timing-wh:before {
  width: 80%;
}
.timing-wh .timebox {
  text-align: center;
  z-index: 2;
}
.timing-wh .timebox:last-child .circle:after {
  display: none;
}
@media (max-width: 440px) {
  .timing-wh .timebox.little-one .circle:after {
    height: 146px !important;
  }
  .timing-wh .timebox:not(.little-one) .circle:after {
    height: 227px !important;
  }
}
.timing-wh .timebox .moddat {
  font-family: fanum;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 440px) {
  .timing-wh .timebox .moddat {
    font-size: 12px;
  }
}
.timing-wh .timebox .circle {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  margin: auto;
  border: 2px solid #873ab6;
  padding: 3px;
}
@media (max-width: 440px) {
  .timing-wh .timebox .circle {
    width: 30px;
    height: 30px;
  }
}
.timing-wh .timebox .circle:before {
  width: 100%;
  height: 100%;
  content: ' ';
  background-color: #ffffff;
  display: block;
  border-radius: 50%;
}
.timing-wh .timebox .line {
  width: 2px;
  height: 40px;
  background-color: #883ab75c;
  margin: auto;
}
@media (max-width: 440px) {
  .timing-wh .timebox .line {
    height: 2px;
    width: 30px;
  }
}
.timing-wh .timebox .description {
  text-align: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px, rgba(0, 0, 0, 0.157) 0px 1px 4px;
  max-width: 300px;
  margin: 0 5px;
}
@media (max-width: 440px) {
  .timing-wh .timebox .description {
    max-width: 240px;
  }
}
.timing-wh .timebox .description .des-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.timing-wh .timebox .description .des-top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  /* overflow: hidden; */
}
@media (max-width: 992px) and (min-width: 769px) {
  .four-box .timing-wh .timebox .description .des-top {
    display: block;
  }
}
@media (max-width: 1300px) and (min-width: 1200px) {
  .six-box .timing-wh .timebox .description .des-top {
    display: block;
  }
}
@media (max-width: 440px) {
  .timing-wh .timebox .description .des-top {
    display: block;
  }
}
.timing-wh .timebox .description .des-left {
  text-align: right;
  margin: 0 15px 0 0;
}
.timing-wh .timebox .description .des-left div {
  margin-top: 5px;
  font-size: 12px;
}
@media (max-width: 992px) and (min-width: 769px) {
  .four-box .timing-wh .timebox .description .des-left {
    text-align: center;
  }
}
@media (max-width: 1300px) and (min-width: 1200px) {
  .six-box .timing-wh .timebox .description .des-left {
    text-align: center;
  }
}
@media (max-width: 440px) {
  .timing-wh .timebox .description .des-left {
    text-align: center;
  }
}
.timing-wh .timebox .description .des-down {
  padding: 15px;
}
.timing-wh .timebox .description .des-down a {
  display: block;
  margin: 6px 0 -1px 0;
  color: #0076bd !important;
}
.timing-wh .timebox .description .des-down a:before {
  content: '\f225';
  font-family: mat;
  font-size: 18px;
  vertical-align: middle;
}
/*--------------------------------------------------------------------------*/
/*second-tikets*/
section.second {
  background: #f9f9f9;
  max-width: 1300px;
  margin: 50px auto 100px;
}
section.second h2 {
  text-align: center;
  margin: 30px auto 35px;
  background: #f9f9f9;
  width: 670px;
  max-width: 96%;
  z-index: 2;
}
.tickets > div {
  display: flex;
  justify-content: space-evenly;
}
.tickets a {
  display: inline-flex;
  width: 500px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  color: #555 !important;
  min-height: 150px;
  align-items: stretch;
  margin: 38px 15px 14px 15px;
  position: relative;
  z-index: 10;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
  flex-direction: column;
}
.tickets a div.city-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 2px solid #2196F3; */
  color: #9C27B0;
  font-weight: 500;
  font-size: 18px;
  padding: 6px 15px 0px 15px;
  position: relative;
  box-sizing: content-box;
  line-height: 38px;
}
.tickets a div.city-name:after {
  content: "";
  position: absolute;
  left: 4%;
  bottom: -16px;
  height: 1px;
  border-bottom: 4px dotted #aaa;
  width: 83%;
  right: 4%;
}
.tickets a .inner-text {
  margin: 30px 20px 0 40px;
}
.tickets a > div img {
  position: absolute;
  bottom: 0;
  left: 51px;
  z-index: -1;
}
.bought-tickets {
  margin: 82px 20px 80px;
  text-align: center;
  font-size: 15px;
  color: #888;
}
.bought-tickets a {
  padding: 20px 40px;
  border-radius: 30px;
  background: #fff;
  color: #555 !important;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  font-size: 15px;
}
.bought-tickets a:before {
  content: "\f518";
  font-family: mat;
  font-size: 30px;
  vertical-align: middle;
  margin: -10px -35px -10px 15px;
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 56px;
  display: inline-flex;
  height: 56px;
  color: #F44336;
  align-items: center;
  justify-content: center;
}
.bought-tickets div {
  margin: 0 0 40px 0;
  font-size: 15px;
  color: #888;
}
.bought-tickets a.muted {
  opacity: 0.7;
}
@media (max-width: 440px) {
  .bought-tickets a:before {
    display: none !important;
  }
  .bought-tickets {
    margin: 66px 2px 80px !important;
  }
  .bought-tickets a {
    padding: 20px 5px !important;
    font-size: 13px !important;
  }
}
@media (max-width: 850px) {
  .tickets > div {
    flex-direction: column;
  }
  .tickets a {
    display: flex;
    width: auto !important;
  }
}
@media (max-width: 400px) {
  .tickets a div.city-name {
    font-size: 17px;
    padding: 3px 8px;
  }
  .tickets a .inner-text {
    margin: 27px 0px 0 40px;
  }
}
p.text {
  font-size: 15px;
  padding: 3px 13px;
  margin-bottom: 0;
  font-weight: 500;
}
.tarikh,
.mablagh,
.makan,
.zaman {
  font-family: fanum;
  margin: 10px 7px;
}
.tarikh:before,
.mablagh:before,
.zaman:before,
.makan:before {
  content: "\f0ed";
  font-family: mat;
  float: right;
  margin-left: 6px;
  font-size: 20px;
  color: #9C27B0;
}
.mablagh:before {
  content: "\f116";
  display: none;
}
.mablagh {
  font-size: 25px;
  color: #4CAF50;
  margin-right: 10px;
}
.zaman:before {
  content: "\f51b";
}
.makan:before {
  content: "\f34e";
}
span.sabtenam {
  position: absolute;
  top: calc(50% - 15px);
  transform: rotate(-90deg);
  left: 12px;
  font-size: 18px;
  color: #9E9E9E;
}
span.sabtenam:after {
  content: "\f141";
  transform: rotate(90deg);
  display: inline-block;
  position: absolute;
  right: 7px;
  top: -31px;
  font-family: mat;
  font-size: 41px;
}
