@font-face {
	font-family: irans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/sans/eot/IRANSansWeb.eot');
	src: url('../fonts/sans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/sans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb.ttf') format('truetype');
}
a,p,span,h1,h2,h3,h4,h5,h6,div,li,td,tr{
  font-family: irans;
  direction: rtl;
  font-size: 13px;
}
[dir='ltr']:not(body) {
    direction: ltr;
}
body{
    direction: rtl;
    margin: 20px 25px;
    font-size:13px;
}
a {
    text-decoration: none;
}
td {
    padding: 0px 10px;
}
*{
    line-height: 30px;
}
blockquote {
    padding: 12px 12px 10px 11px;
    margin: 12px 0px;
    border-right: 5px solid #4DD0E1;
    background-color: #f9f9f9;
}
p {
    margin: 0;
    font-size: 13px;
    line-height: 28px !important;
    color: #676666;
    font-weight: normal;
}
.article-links {
    display: inline-block;
    width: 100%;
    text-align: center !important;
    padding: 20px 0;
    background: rgb(252, 252, 252);
    border: 1px solid #f0f1f2;
    margin: 15px 0;
}
.article-links a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
ul, ol {
    padding: 0;
    margin: 0 25px 10px 0;
}
tr td,
tr th{
    padding: 4px 9px;
    border: 1px solid #eee !important;
}
table{
    border-collapse: collapse;
}
.mceItemTable,.mceItemTable caption, .mceItemVisualAid {
    border: 0px;
}
