@font-face {
	font-family: irans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/sans/eot/IRANSansWeb.eot');
	src: url('../fonts/sans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/sans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb.ttf') format('truetype');
}
a,p,span,h1,h2,h3,h4,h5,h6,div,li,td,tr{
  font-family: irans;
  direction: rtl;
  font-size: 13px;
}
[dir='ltr']:not(body) {
    direction: ltr;
}
body{
    direction: rtl;
    margin: 20px 25px;
    font-size:13px;
}
a {
    text-decoration: none;
}
td {
    padding: 0px 10px;
}
*{
    line-height: 30px;
}
blockquote {
    padding: 12px 12px 10px 11px;
    margin: 12px 0px;
    border-right: 5px solid #4DD0E1;
    background-color: #f9f9f9;
}
p {
    margin: 0;
    font-size: 13px;
    line-height: 28px !important;
    color: #000;
    font-weight: normal;
}
.article-links {
    display: inline-block;
    width: 100%;
    text-align: center !important;
    padding: 20px 0;
    background: rgb(252, 252, 252);
    border: 1px solid #f0f1f2;
    margin: 15px 0;
}
.article-links a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
ul, ol {
    padding: 0;
    margin: 0 25px 10px 0;
}
tr td,
tr th{
    padding: 4px 9px;
    border: 1px solid #eee !important;
}
table{
    border-collapse: collapse;
}
.mceItemTable,.mceItemTable caption, .mceItemVisualAid {
    border: 0px;
}


.btn {
  background: #fbfbfb;
  border: none;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #444 !important;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  min-width: 88px;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  outline: none;
}
.btn:hover {
  background-color: #eee;
}
.btn:focus {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.red-btn {
  background: #fbfbfb;
  border: none;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #444 !important;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  min-width: 88px;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  outline: none;
  background: #f44336;
  color: #fff !important;
}
.red-btn:hover {
  background-color: #eee;
}
.red-btn:focus {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.red-btn:hover {
  background-color: #ef5350;
}
.red-btn:focus {
  background: #f44336;
}
.green-btn {
  background: #fbfbfb;
  border: none;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #444 !important;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  min-width: 88px;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  outline: none;
  color: #fff !important;
  background-color: #4caf50;
}
.green-btn:hover {
  background-color: #eee;
}
.green-btn:focus {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.green-btn:hover {
  background-color: #3fbc44;
}
.green-btn:focus {
  background: #4caf50;
}
.blue-btn {
  background: #fbfbfb;
  border: none;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #444 !important;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  min-width: 88px;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  outline: none;
  color: #fff !important;
  background-color: #2196f3;
}
.blue-btn:hover {
  background-color: #eee;
}
.blue-btn:focus {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.blue-btn:hover {
  background-color: #1597ff;
}
.blue-btn:focus {
  background: #2196f3;
}
.small-btn {
  line-height: 30px;
  height: 30px;
  min-width: 75px;
  font-size: 13px;
  padding: 0 13px;
}
.btn-green,
input[type="button"],
input[type="submit"],
button {
  background: #fbfbfb;
  border: none;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #444 !important;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  min-width: 88px;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  outline: none;
  color: #fff !important;
  background-color: #4caf50;
  float: left;
}
.btn-green:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #eee;
}
.btn-green:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.btn-green:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #3fbc44;
}
.btn-green:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus {
  background: #4caf50;
}
input.primary,
button.primary,
a.primary,
.btn-primary {
  background: #fbfbfb;
  border: none;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #444 !important;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  min-width: 88px;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  outline: none;
  color: #fff !important;
  background-color: #2196f3;
}
input.primary:hover,
button.primary:hover,
a.primary:hover,
.btn-primary:hover {
  background-color: #eee;
}
input.primary:focus,
button.primary:focus,
a.primary:focus,
.btn-primary:focus {
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
input.primary:hover,
button.primary:hover,
a.primary:hover,
.btn-primary:hover {
  background-color: #1597ff;
}
input.primary:focus,
button.primary:focus,
a.primary:focus,
.btn-primary:focus {
  background: #2196f3;
}