@font-face {
	font-family: irans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/sans/eot/IRANSansWeb.eot');
	src: url('../fonts/sans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/sans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb.ttf') format('truetype');
}
a,p,span,h1,h2,h3,h4,h5,h6,div,li,td,tr{
  font-family: irans;
  direction: rtl;
  font-size: 13px;
}
[dir='ltr'] {
    direction: ltr;
}
a {
    text-decoration: none;
}
td {
    padding: 0px 10px;
}
*{
    line-height: 30px;
}
blockquote {
    padding: 12px 12px 10px 11px;
    margin: 12px 0px;
    border-right: 5px solid #4DD0E1;
    background-color: #f9f9f9;
}
p {
    margin: 0;
    font-size: 13px;
    line-height: 28px !important;
    color: #676666;
    font-weight: normal;
}


