@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/sans/eot/IRANSansWeb_Medium.eot');
	src: url('../fonts/sans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/sans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/sans/eot/IRANSansWeb.eot');
	src: url('../fonts/sans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/sans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/sans/eot/IRANSansWeb_Light.eot');
	src: url('../fonts/sans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/sans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/sans/eot/IRANSansWeb_UltraLight.eot');
	src: url('../fonts/sans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8*/
		 url('../fonts/sans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/sans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/sans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
font-family: "yekan";
src: 	url(../fonts/yekan/bYekan.eot);
src: 	url(../fonts/yekan/bYekan.eot?#iefix) format("embedded-opentype"), 
		url(../fonts/yekan/bYekan.woff) format("woff"), 
		url(../fonts/yekan/bYekan.ttf) format("truetype"), 
		url(../fonts/yekan/bYekan.svg#BYekan) format("svg");
font-weight: normal;
font-style: normal
}

#center{
	margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 14px;
    font: inherit;
    direction: rtl;
    vertical-align: baseline;
    line-height: 1;
    background: #f7f7f7;
    color: #444;
    width: 100%;
    border-radius: 2px;
    font-family: iransans , Tahoma !important;
}
#header-mail{
	margin: 2px auto;
    padding: 15px 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    direction: rtl;
    vertical-align: baseline;
    text-align: center;
    display: block;
    overflow: hidden;
    width: 85%;
}
#header-mail img{
	max-width: 100%;
    width: 127.2px;
    min-height: auto!important;
}
#main{
	margin: 0 auto 30px;
    padding: 30px 30px;
    border: 1px solid #e2e2e2;
    font-size: 100%;
    font: inherit;
    direction: rtl;
    vertical-align: baseline;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: justify;
	width: 77%;
}
#footer-mail{
	margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    direction: rtl;
    vertical-align: baseline;
    text-align: center;
    display: block;
    overflow: hidden;
    width: 88%;
    padding-bottom: 20px;
}
.socialss a{
	margin:0px 10px;
}
a.aaa{
    color: black;
    text-decoration: none!important;
    border-bottom: 2px solid #3F51B5;
    padding: 2px 17px;
    display: inline-block!important;
    margin: 12px 22px 0 22px;
    font-size: 12px!important;
    background-color: #f5f5f5;
    border-radius: 4px;
}
#tabligh #aaa2{
    border-bottom-color: #E91E63;
}
#tabligh #aaa3{
    border-bottom-color: #FF9800;
}
#tabligh #aaa4{
    border-bottom-color:#009688;
}
#tabligh{
    text-align: center; 
}
.first-row a{
    font-size: 20px;
    color: black;
    text-decoration: blink;
    padding-bottom: 20px;
    display: block;
    font-family: yekan;
}