.page-college.college-front #main {
    margin-top: 12px;
}
.page-college.college-front #civil-college > div > div:nth-child(1) h2.pane-title{
	display:none !important ;
}
.page-college .coursesection {
	width: 100%;
    background-color: #f5f5f5;
}
.page-college .coursesection h2.pane-title{
	font-size: 20px;
    letter-spacing: 0;
    margin-right: 12px;
}
div#taghvim {
	margin-top: -7px;
	margin-bottom: 30px;
}
div#taghvim .pane-title {
	visibility: hidden;
}

.panels-flexible-7 .panels-flexible-row.panels-flexible-row-7-8.conference-wcontent .conference-secpic,
.panels-flexible-7 .panels-flexible-row.panels-flexible-row-7-8.conference-wcontent .conference-firstpic{
	height: 39vw!important;	
}
.panels-flexible-7 .panels-flexible-row.panels-flexible-row-7-8.conference-wcontent .conference-img img{
    height: 39vw!important;
	width: 100%;
}
.panels-flexible-7 .panels-flexible-row.panels-flexible-row-7-8.conference-wcontent table{
    line-height:2.5vw;
}
.panels-flexible-7 .panels-flexible-row.panels-flexible-row-7-8.conference-wcontent .conference-regiontwo-wcontent{
    height: 39vw!important;
}
/*----------------from conference------------------------*/
.page-college .container.messagwrapper{
	margin: 5px auto;
}
body.page-college{
	background-image:none;
	background-color:white;
}
.page-college .panels-flexible-row-3-main-row {
	width:100%;
	height: 27vw!important;
}
.page-college .bottoms.up-footer {
    background-color: transparent; 
    max-width: 0px; 
    margin: 0; 
    width: 0px; 
    padding: 0px 0%; 
    border-bottom: 0px solid #0af; 
    border-top: 0px solid #0af; 
}
.pane-gloevents .views-field-field-course-start:before{
	display:none;
}
.panels-flexible-region-1-top {
    float: left;
    width: 100%;
}
.page-font-page .pane-views.pane-gloevents{
	margin-bottom:10px;
}
.page-font-page .pane-views.pane-gloevents,
 #mini-panel-sidebar_ads .panels-flexible-1-inside{
	padding:0px!important;
}
/*----------------from conference------------------------*/
.form-item-submitted-test-day,
.form-item-submitted-test-year,
.form-item-submitted-test-month {
	display:none;
}
.panels-flexible-region-3-region_1___ .pane-title {
	border: none !important;
}
.panels-flexible-row-3-4-inside{	
	width: 100%;
    margin: 0 auto;
}
.panels-flexible-region-3-region_1___ {
	width: 72%;
	background-color: #fafafa;
    padding-top: 20px !important;
}
.panels-flexible-region-3-region_2____ {
    float: left;
    width: 28%;
	padding-top: 20px !important;
}
.panels-flexible-region-3-region_2____-inside{
  padding: 15px !important;
}
.panels-flexible-region-3-region_1___-inside{
	width: 93%;
    float: left;
    margin-left: 3%;
}
.page-college .panels-flexible-region-3-slide {
	width:100%;
}			
.page-college .container .region-content {
	padding:0px;
}			
.item-list .pager {
	margin-top: 20px;
	clear: both;
	display: inline-block;
	width: 100%;
}

.page-college .panels-flexible-row-inside{
	padding-left: 0px;
    padding-right: 0px;
}
.page-college .panels-flexible-row-3-5{
	background-color: whitesmoke;
	margin-bottom:0px;
}
.bef-select-as-links .form-item.form-type-bef-link {
    display: inline-block;
    margin: 0 1%;
}
.bef-select-as-links .form-item.form-type-bef-link a {
    border: 1px solid;
    line-height: 30px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 4px;
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc !important;
    transition: all 0.2s;
}
.bef-select-as-links .form-item.form-type-bef-link a:hover {
    background-color: #e6e6e6;
    border-color: #adadad !important;
}
div#edit-field-course-step-value-wrapper label {
    display: none;
}
.bef-select-as-links > div {
    text-align: center;
    margin: 15px !important;
}
.course-img {
    height: inherit !important;
    margin: 0 !important;
	border: 1px solid #eee;
}
.course-img img {
  margin-bottom: -12px;
}
.node-course .field-name-body {
	padding: 10px;
}
.panels-flexible-column-11-6 {
	float: left;
	width: 72%;
	border-bottom: 1px solid #eee;
}
.panels-flexible-row-11-9 .pane-content  {
	margin-right: 10px;
    text-align: justify;
    margin-left: 10px;
}
.panels-flexible-row-11-9 .panels-flexible-region{
	width: 60vw;
	overflow: hidden;
	position: relative;
	transition:all 0.4s ease;
	border: 1px solid transparent;
}
.panels-flexible-row-11-9.click .panels-flexible-region {
	position:relative;
	z-index: 221;
	background-color: white;
	border: 1px solid #c5c;
	transition: height 1s ease;
	transition-delay: 0.7s;
}
.page-college.page-herfe .form-item .description {
	display:none;
}
#cboxOverlay.college-cover{
	display:block!important;
	z-index:217;
	background-color:rgba(256,256,256,0.5);
}
.enablecourse{
	background-color:rgba(0,0,0,0.1);
}
.page-college .views-field-field-enable{
	display:none!important;
}
.panels-flexible-column-11-5 {
    width: 28%;
}
.panels-flexible-column-11-5 .views-field-comment-body{
	width:277px;
}
.panels-flexible-column-11-5 .views-field-comment-body .field-content{
	max-height: 109px;
	width:100%;
    text-align: justify;
	overflow: hidden;
    text-overflow: ellipsis;
}
.page-college div#block-taxonomy-menu-block-2 {
	margin-bottom: 10px;
}
#college-links ul li.first-li a{
    background-color:#8d5;
}
#college-links ul li.second-li a{
    background-color: #0cc;
}
#college-links ul li.third-li a{
    background-color: #f54;
}
#college-links ul li.forth-li a{
	background-color: #cc8;
}
#college-links ul li.fifth-li a{
	background-color: #FFCA28;
}
#college-links ul li a{
    position: relative;
    width: 152px;
    height: 152px;
    display: block;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}
#college-links ul li a img{
	width: 117px;
	padding: 12px 39px 0 0;
	position: absolute;
}
#college-links ul li.forth-li img{
	padding: 12px 47px 0 11px;
}
#college-links ul li a span{
	font-size: 16px;
	padding-top: 91px;
	position: absolute;
	color: white;
}
#college-links ul li.second-li a img {
	padding: 15px 35px 0 0;
}
#college-links ul li.third-li a img {
	padding: 8px 37px 0 0;
}
#college-links ul li.first-li a span{
	margin-right: 15px;
	width: 120px;
}
#college-links ul li.second-li a span{
	margin-right: 27px;
	width: 100px;
}
#college-links ul li.third-li a span{
	padding-right: 0;
}
#college-links ul li a span{
	text-align: center;
}
#college-links ul li.forth-li a span {
	padding-right: 27px;
}
#college-links .content{
    margin-top: 10px;
}
#college-links ul li{
  margin: 0 5px 10px;
  transition: all 0.4s ease;
  text-align: right;
  list-style: none;
}
#college-links ul li:hover {
	margin-top: -4px;
	margin-bottom: 14px;
}
#college-links ul li.third-li:hover {
	margin-bottom: 24px;
}
#college-links ul li.third-li {
	margin-bottom: 20px;
}
#college-links ul{
	margin: 0px!important;
}

.bef-select-as-links .form-item.form-type-bef-link:nth-child(1) a {
	border-right: 5px solid #ddd !important;
	border-left: 5px solid #ddd !important;
}
.bef-select-as-links .form-item.form-type-bef-link:nth-child(2) a {
	border-right: 5px solid #72DE72 !important;
	border-left: 5px solid #72DE72 !important;
}
.bef-select-as-links .form-item.form-type-bef-link:nth-child(3) a {
	border-right: 5px solid #f0ad4e !important;
	border-left: 5px solid #f0ad4e !important;
}
.bef-select-as-links .form-item.form-type-bef-link:nth-child(4) a {
	border-right: 5px solid #337ab7 !important;
	border-left: 5px solid #337ab7 !important;
}

.region-container.row-highlight.highlight {
	background-color: #eee;
	border-top: 1px solid #ccc;
	margin-bottom: 15px;
}
.college-body-left > .inside {
	border-right: 1px solid #ccc;
}

.college-body-right .panel-pane h2.pane-title, .college-body-right .views-exposed-form label {
	font-size: 14px;
	font-weight: bold;
	/* display: block; */
	border-bottom-width: 0px;
	padding: 5px 5px 5px 20px;
	letter-spacing: 0;
	text-align: center;
	border-bottom: 2px solid #a5a;
}
.view-courses #edit-reset {
	margin-top: 12px;
	padding: 0;
	line-height: 17px;
	background: transparent;
	color: #777;
	font-size: 12px;
	border-bottom: 1px solid;
	font-family: b yekan;
	border-radius: 0;
}
.page-college .views-exposed-form .views-exposed-widget {
	float: none;
	padding: 0;
}
select#edit-field-course-undertype-tid {
	width: 100%;
	border-radius: 0px;
	padding: 2px 1px;
    margin: 10px 0 -10px 0;
}
.courselinks .content li {
	list-style: none !important;
    position: relative;
}
.courselinks .content li a:before {
	content: "\e257";
	font-size: 10px;
	position: absolute;
	font-family: glyphi;
	color: #555;
	right: 0px;
}
.courselinks ul {
	margin: 0 5px;
}
#content .courselinks .content li a{
	position: relative;
	transition: all 0.3s ease;
	border-bottom: 1px solid #eee;
	display: block;
	padding: 6px 15px 8px;
	color: #777;
	font-family: yekan;
	font-size: 13px;
}
.courselinks .content li:before{
	content: "";
	position: absolute;
	width: 100%;
	background-color: #fff;
	height: 0px;
	transition: all 0.4s ease;
}
.courselinks .content li:hover:before{
	height: 100% !important;
}
#content .courselinks .content li a:hover {
	padding-right: 20px;
}
.courselinks.menufix2{
	margin-bottom:20px;
	position: fixed;
	top: 50px;
	background-color: #f5f5f5;
	padding: 0;
	z-index: 100;
	width:261px;
	padding-bottom:20px;
	transition: all ease 0.5s;
}
.courselinks{
	transition: all ease 0.5s;
}
#block-taxonomy-menu-block-1 > div.content > ul > li.last {
	transition: height 0.5s ease;
	height: 40px;
	overflow: hidden;
}
#block-taxonomy-menu-block-1 > div.content > ul > li.last:hover {
	height: 205px;
}
#block-taxonomy-menu-block-1 > div.content > ul > li.last:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-image: url(/sites/all/themes/sara/images/menu.gif);
	right: 9px;
	margin-top: 15px;
	background-size: 10px;
}
#block-taxonomy-menu-block-1 > div.content > ul li.last > a {
	border-bottom-width: 0px;
}
#block-taxonomy-menu-block-1 > div.content > ul li.last:hover > a {
	border-bottom-width: 1px;
}
.page-herfe #courselist h2{
	display:none;
}
.page-herfe #edit-field-course-undertype-tid option{
	display: inline-block;
    /* vertical-align: middle; */
    width: 30%;
    background-color: #eee;
    transition: all 0.15s ease;
    color: #222 !important;
    /* padding: 1px 15px; */
    border-radius: 4px;
    font-size: 16px;
    font-family: b koodak;
    border: 1px solid #aaa;
    box-shadow: inset 0px 1px 0 rgba(255,255,255,.4);
    text-align: center;
    /* height: 33px; */
    margin-left: 20px;
    padding: 4px 0px;
}
.page-herfe #edit-field-course-undertype-tid{
	height: 40px;
    border: 0px;
    overflow-y: hidden;
    margin-right: 10px;
}
.page-herfe select#edit-field-course-undertype-tid:focus{
    outline:none dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.page-college #views_slideshow_cycle_div_civil_main_slide-block_0 > div > div > div > img{
	height:auto!important;
}
.page-college .panels-flexible-row-11-2{
	height: 32vw!important;
}

/*---------------------college-shop-block-----------------------*/
.page-college #views_slideshow_cycle_main_conference_news-block_4 .views-field.views-field-field-image{
	width: 175px;
    margin: 10px auto auto;
	text-align:center;
}
.page-arshad #views_slideshow_cycle_main_conference_news-block_4 .views-field.views-field-field-image,
.page-phd #views_slideshow_cycle_main_conference_news-block_4 .views-field.views-field-field-image{
	width: 216px!important;
    margin: auto;
    text-align: center;
    margin-top: 50px!important;
}
.page-college #views_slideshow_cycle_main_conference_news-block_4 .views-slideshow-cycle-main-frame-row-item.views-row {
    margin: auto;
	text-align:center;
}
.page-college #views_slideshow_cycle_main_conference_news-block_4 .views-slideshow-cycle-main-frame-row {
    width:300px;
	left: inherit !important;
}
.page-college #views_slideshow_cycle_main_conference_news-block_4 .views-slideshow-cycle-main-frame-row a {
    color: black!important;
    line-height: 30px;
    font-size: 13px;
}
.page-college .view-conference-news .views-slideshow-controls-text {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.page-college .view-conference-news .views_slideshow_cycle_main {
    position: relative;
    z-index: 0;
}
.page-college #views_slideshow_controls_text_next_conference_news-block_4 a {
    background-image: url(../images/arrows.png);
    background-size: 52px;
    background-repeat: no-repeat;
    width: 25px;
    height: 52px;
    display: block;
    margin: auto;
    background-position: -27px 0;
    font-size: 0px;
}
.page-college #views_slideshow_controls_text_previous_conference_news-block_4 a{
	background-image: url(../images/arrows.png);
    background-size: 52px;
    background-repeat: no-repeat;
    width: 25px;
    height: 52px;
    display: block;
    background-position: 0px 0;
    font-size: 0px;
    margin: auto;
}
.page-college #views_slideshow_controls_text_pause_conference_news-block_4{
	display:none;
}
.page-college #views_slideshow_controls_text_next_conference_news-block_4,
.page-college #views_slideshow_controls_text_previous_conference_news-block_4{
    width: 40px;
    height: 60px;
    position: absolute;
    top: 120px;
    right: 30px;
    background: #fff;
    padding: 10px 0;
	opacity: 0;
    /*box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);*/
    border-radius: 4px 0 0 4px;
    transition: all 0.3s ease;
}
.page-college #views_slideshow_controls_text_next_conference_news-block_4 {
	right: inherit;
	left: 30px;
    border-radius: 0 4px 4px 0;
}
.page-college .view-conference-news:hover #views_slideshow_controls_text_next_conference_news-block_4 {
	opacity: 1;
	left: -8px;
}
.page-college .view-conference-news:hover #views_slideshow_controls_text_previous_conference_news-block_4 {
	opacity: 1;
	right: -10px;
}
/*---------------------college-shop-block-----------------------*/
.page-college .pane-conference-news{
	margin-bottom:79px;
}
.page-college .view-display-id-block_6 li{
	list-style-type: disc!important;
	padding-top: 7px;
	padding-bottom: 7px;
    border-bottom: 1px dashed #ddd;
}
.page-college .view-display-id-block_6 a {
    color: black!important;
    line-height: 27px;
    font-family: b yekan,sans-serif;
    font-size: 13px;
}
.page-college #views_slideshow_cycle_div_conference_news-block_6_0 {
	padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.page-college #views_slideshow_cycle_div_conference_news-block_6_0  a{
	font-size:15px;
	line-height: 32px;
}
/*---------------------------workshop-civil--------------------------------*/
.page-civil .main-panel-row-3{
	background-color: #fbfbfb;
}
.front-links h2.pane-title {
	color: #fff;
	text-align: center;
	font-size: 27px;
	margin: -25px 0 50px;
}
#workshop-section{
	margin-top: 8px;
    margin-bottom: 66px;
}
.workshop-sections{
	display: inline-block;
    vertical-align: top;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 16px;
}
#workshop-firstrow{
	width: 83%;
    margin: auto;
	text-align: center;
}
.workshop-sections a img {
    display: block;
    text-align: center;
    height: 173px;
    width: 223px;
}
.workshop-sections a{
    display: block;
    text-align: center;
    height: 275px;
    width: 223px;
}
.workshop-sections a span{
	display: block;
    color: black;
    font-size: 16px;
    /* font-weight: 300; */
    transition: all 0.4s ease;
    text-align: center;
    /* margin: 10px; */
    font-family: b koodak;
    padding: 10px 9px;
    line-height: 29px;
}
/*-------------shop-civil main page------------*/
.page-civil .view-conference-news .views-row{
	display: inline-block;
	vertical-align: top;
  width: 22%;
  margin-right: 0.5%;
  margin-left: 0.5%;
	margin-bottom: 30px;
	min-width: 180px;
}
.page-civil .view-conference-news .views-field-title{
	text-align: justify;
	font-size: 13px;
}
.page-civil .view-conference-news .skin-default {
	position: relative;
}
.page-civil .views-slideshow-controls-text-previous {
	position: absolute;
	left: -120px;
	top: 0;
	height: 100%;
	font-size: 0px;
	width: 125px;
	background-color: #fbfbfb;
}
.page-civil .views-slideshow-controls-text-previous a{
	background-image: url(/sites/all/themes/sara/images/arrows.png);
	background-size: 50px;
	background-position: -25px;
	height: 40px;
	width: 25px;
    margin-top: 117%;
	display: inline-block;
}
.page-civil div#views_slideshow_cycle_teaser_section_conference_news-block_3 {
	width: 100% !important;
    margin-top: 20px;
}
.page-civil .views-slideshow-controls-text-pause {
	opacity: 0;
	margin-top: -20px;
	display: block;
}
.page-civil .views-slideshow-controls-text-next {
	position: absolute;
	right: -120px;
	top: 0;
	height: 100%;
	font-size: 0px;
	width: 125px;
	background-color: #fbfbfb;
}
.page-civil .view-conference-news {
	background: #fff;
	overflow: hidden;
}
.page-civil .views-slideshow-controls-text-previous:hover{
	background-image: -webkit-linear-gradient(left,rgba(2,2,2,0.2) 0%,rgba(2,2,2,0) 100%);
}
.page-civil .views-slideshow-controls-text-next:hover {
	background-image: -webkit-linear-gradient(right,rgba(2,2,2,0.2) 0%,rgba(2,2,2,0) 100%);
}
.page-civil .views-slideshow-controls-text-next a{
	background-image: url(/sites/all/themes/sara/images/arrows.png);
	background-size: 50px;
	background-position: 0;
	height: 40px;
	width: 25px;
    margin-top: 117%;
	display: inline-block;
}
.page-civil .view-conference-news a,
.page-civil .view-conference-news .views-field-title{
	color:black!important;
}
.page-civil .view-conference-news .views-field-title:hover a{
	color:#00accc!important;
}
.page-civil .view-conference-news .view-content{
    width: 85%;
    margin: auto;
    text-align: center;
    background-color: #fbfbfb;
}
.page-civil .pane-conference-news .pane-title{
	display:none;
}
.page-civil .pane-conference-news .view-header{
	margin-bottom: 0px;
	padding: 40px 20px 30px 20px;
	text-align: center;
    background: #f5f5f5;
}
.page-civil.front .pane-conference-news .view-header{
    background: #fbfbfb;
}
.page-civil .pane-conference-news .view-header p:nth-child(1) a {
	margin-bottom: 20px !important;
	font-size: 28px;
	color: #000 !important;
	font-weight: bold;
}
.page-civil .pane-conference-news .view-header p:nth-child(1) {
	margin-bottom: 20px;
}
.page-civil  .pane-conference-news > div > div > div.view-header > div.views-field.views-field-body > div > p > span{
	font-size: 23px;
}
.page-civil .main-panel-row-2 {
	border-bottom: 2px solid rgba(146, 146, 146, 0.2);
	padding-bottom: 30px;
}
.page-civil .pane-civil-main-slide{
	background-color:white!important;
}
.page-piazza .container{
	width:80%!important;
	margin:auto;
}
.page-piazza #page-title {
    display: block!important;
}
/*-------------fullcalender --------- from ulrp--------------*/
.fc-button-today {
	float: left;
}
.fc .fc-header-left .fc-header-space {
	float: left;
	position: relative;
	height: 27px;
}
.fc-button-prev {
	float: none;
	border-radius: 0 4px 4px 0;
}
.fc-button-next {
	border-radius: 4px 0 0 4px;
	float: left;
	margin-right: -1px !important;
}
.ui-widget-header {
  background: none;
  border: none;
  line-height: 30px;
  height: 50px;
}
.ui-widget-content {
  border: 1px solid #f9f9f9;
}
#block-system-main thead tr.fc-first.fc-last {
  background: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #f5f5f5;
}
.fc-view-month .ui-widget-content {
	background: #eee;
	border-color: #fff !important;
	border-width: 8px 0 0 8px !important;
}
.fc-view-month .ui-widget-content.fc-other-month {
	background: transparent;
}
.clndar table.fc-header {
	margin: 20px 0 50px 0;
}
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
.fc-view-month .ui-widget-content.fc-today {
	background: #ccc;
}
.fc-view-agendaWeek .ui-state-highlight {
	background: #ddd;
	border-color: #f70;
}
.fc-agenda-allday .fc-day-content {
	min-height: 50px;
	height: 50px;
}
th.ui-widget-header.fc-agenda-gutter {
	background: #fff;
}
.fc-agenda-divider.ui-widget-header {
	background: #ccc;
	margin-top: -1px;
}
.fc-agenda .fc-agenda-axis {
	text-align: center;
}
.fc-view-agendaDay .ui-state-highlight {
	background: transparent;
}
.page-college div#cboxLoadedContent {
	background-color: #fff;
	padding: 10px;
}
.clndar .fc-button {
	border: none;
	padding: 0px 12px;
	background: #f5f5f5;
	border-radius: 0;
	font-size: 15px;
	font-family: yekan;
	margin-top: 20px;
	transition: all 0.3s ease;
}
.clndar .fc-button:hover {
	background: #ddd;
}
.fc-button.ui-state-active {
	border-bottom: 2px solid #0df;
	background: transparent;
	cursor: default;
}
div#block-views-clone-of-calendar-block-1 {
	width: 500px;
}
.page-college .fc.fc-rtl.ui-widget > div > div > table > thead > tr{
	background-color:white!important;
}
.clndar span.fc-event-time{
	display: block!important;
    color: white;
    font-family: b yekan;
    width: 100%;
    font-size: 12px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
.clndar span.fc-event-title{
	color: black !important;
	font-size: 10px;
	line-height: 10px !important;
}
.fc-event-default, .fc-event-default .fc-event-skin, .fc-event-default .fc-event-time, .fc-event-default a {
  border: none;
  background-color: rgba(178, 213, 255, 0.32);
  border-right: 3px solid #337ab7 !important;
  padding: 2px 6px;
  line-height: 19px;
  margin: 2px 0 0 5px;
}
.fc-event-title {
	color: black;
}
.fc-event {
  font-size: 1em;
}
/*---------------------------be jaye workshop-civil--------------------------------*/
.page-civil .beside-workshop-civil{
	background-color: #f9f9f9;
}
.page-civil .slide-beside-workshop{
	width: 70%;
	padding: 0;
	margin: 0;
}
.page-civil .course-beside-workshop{
	width: 30%;
	padding: 30px 0;
	margin: 0;
}
.page-civil .slide-beside-workshop .view-content{
    text-align: center;
    margin: auto;
    margin-top: 46px;
}
.page-civil .course-beside-workshop .panel-pane{
	text-align: center;
	width: 100%;
	margin: auto;
	max-width: 340px;
}
.view-flex-slider .views-slideshow-cycle-main-frame {
	margin: auto;
    max-width: 665px;
	width: 100% !important;
}
.page-civil .slide-beside-workshop > div > div {
	width: 100%;
}
div#menu-toggle {
	display: none;
}
.view-conference-news .views-slideshow-cycle-main-frame-row {
	height: auto !important;
}


@media all and (max-width: 768px){
.page-civil .slide-beside-workshop {
	width: 100%;
}

.page-civil .course-beside-workshop {
	width: 100%;
	background-color: #fff;
}
.pane-statistice {
	padding-right: 0;
}
.statisticss{
	width: 100%;
}
.statistic-row .view-content:before {
	width: 110px;
	height: 110px;
	max-width: 20vw;
	max-height: 20vw;
	display: block;
	position: relative;
	margin: auto;
}
.view-statistice-user span.views-label, .view-statistice span.views-label {
	width: initial;
}
.front-links li {
	width: 32.5%;
	margin-bottom: 15px;
}
.statisticss > div {
	padding: 0 !important;
}
.page-civil .view-conference-news .view-content{
	width: 100%;
}
body:not(.page-college) .views-slideshow-controls-text-previous {
	left: 0 !important;
	width: 50px !important;
	height: 140px !important;
	top: -140px !important;
}
body:not(.page-college) .views-slideshow-controls-text-next {
	right: 0 !important;
	width: 50px !important;
	height: 140px !important;
	top: -140px !important;
}
.page-civil .view-conference-news .views-row {
	width: 47%;
}
.front-links {
	padding: 50px 0 30px;
	background-position: -150px 0;
}
div#toolbar {
	display: none;
}
.page-civil #content .pane-menu-main-civil ul li.leaf {
	display: block;
	text-align: center;
    padding: 0 25px;
}
.page-civil #content .pane-menu-main-civil {
	background: rgba(0 , 0 , 0 , 0.9) !important;
	height: 100%;
	transition: all 0.3s ease;
	height: 0;
	right: 0;
	opacity: 0;
	overflow: hidden;
}
.page-civil #content .pane-menu-main-civil ul li.leaf a {
	border: none;
	padding: 13px 0 15px;
	border-bottom: 1px solid #aaa;
}
.page-civil #content .pane-menu-main-civil.topfix ul li.leaf a {
	color: #fff !important;
}
.page-civil li[data-id="8832"] .mega-dropdown-menu {
	/*position: fixed;
	top: 420px;
	display: block !important;
	height: 90px;
	background-color: transparent !important;
	border: none !important;
	*/
}
div#menu-toggle {
	display: block;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	width: 50px;
	height: 50px;
	font-size: 0; 
	overflow: hidden;
	top: 0;
	right: 0;
	color: transparent;
}
div#menu-toggle:before,
div#menu-toggle:after {
	content: "";
	position: absolute;
	width: 26px;
	height: 1px;
	background: #fff;
	top: 30px;
	right: 10px;
	transition: all 0.3s ease;
}
div#menu-toggle:before {
	top: 20px;
	right: 10px;
}
div#menu-toggle.opend:before {
	transform: rotate(-45deg);
	top: 25px;
}
div#menu-toggle.opend:after {
	transform: rotate(45deg);
	top: 25px;
}
.userdrop {
	width: 150px;
	margin: 0;
	top: 0 !important;
    background: rgba(255,255,255,0.7);
	padding-right: 5px;
}
.Bj-username-bar-Pro {
  max-width: 90px;
  width: 100%;
}
div#footer_about,
div#footer_contact {
	width: 100%;
}
#footer h2 {
	width: 90%;
	margin: 0 5% 20px;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
}
.region-footer-contact ul {
	text-align: right;
}
.socialss {
	float: none;
	width: 100%;
}
.page-civil .row-2 .panels-flexible-column-4-4-inside {
	width: 100%;
	padding: 0 2px;
	box-sizing: border-box;
}

}
@media all and (max-width: 450px){
.panels-flexible-region-first.left2 {
	display: none;
}
.fotter-left-region {
	width: 50%;
}
.front-links li {
	width: 96%;
}
.front-links li img {
	width: 80px;
	max-width: 25%;
}
.view-statistice-user .field-content, .view-statistice .field-content {
	font-size: 17px;
}
.view-statistice-user span.views-label, .view-statistice span.views-label {
	font-size: 12px;
}


}