/* 
 * variable section
 */
/*colors*/
@import "colors.css.less";

/*shadows*/
@z2: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
@z1: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
@z0: 0 2px 2px #edeef0;

/*paddings*/
@pad: 15px; 
@pad-wid: 0 15px; 
@pad-heig: 15px 0; 

/*medias*/
@1280 : ~"all and (min-width: 1280px)";
@1200 : ~"all and (max-width: 1200px)";
@min1200 : ~"all and (min-width: 1200px)";
@980-1200 : ~"(min-width: 980px) and (max-width: 1200px)";
@960 : ~"(max-width: 960px)";
@840 : ~"(max-width: 840px)";
@600 : ~"(max-width: 600px)";
@480 : ~"(max-width: 480px)";
@400 : ~"all and (max-width: 400px)";



.paper(z1){
	box-shadow: @z1;
}
.paper(z2){
	box-shadow: @z2;
}
.paper(@_){
	background: #fff;
	border: none;
	border-radius: 0;
	padding: @pad;
	box-shadow: @z0;
}


.node-type-architect{
    .group-anchor > .fieldset-wrapper{
        padding:0px;
        width: 80%;
        margin: auto;
        position: relative;
        .divanchors{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            a{
                width: 50px;
                height: 50px;
                background-color: #ffffff;
                border-radius: 50%;
                box-shadow: 0px 2px 7px 1px #eee;
                margin: 0 6px;
                display: flex;
                justify-content: center;
                position: relative;
                &:before{
                    content:"";
                    font-family: mat;
                    line-height: 50px;
                    text-align: center;
                    font-size: 25px;
                    display: block;
                    color: #02abaa;
                }
                &.podcast808:before{
                    content: "\f439";
                }
                &.entesharat:before{
                    content: "\f226";
                }
                &.akhbar:before{
                    content: "\f395";
                }
                &.shopproduct:before{
                    content: "\f110";
                }
                &.edu-college:before{
                    content: "\f474";
                }
                &.filmmortabet:before{
                    content: "\f22f";
                }
                &.porojhe:before{
                    content: "\f21f";
                }
                &.maghalat:before{
                    content: "\f192";
                }
                &.memaran:before{
                    content: "\f5ac";
                }                
                &.commentanch:before{
                    content: "\f181";
                }
                span {
                    background-color: white;
                    border: 1px solid #eee;
                    padding: 3px 8px;
                    bottom: -34px;
                    color: black;
                    position: absolute;
                    opacity: 0;
                    transition: all ease 0.9s;
                    white-space: nowrap
                }
                &:hover span{
                    opacity: 1;
                }
            } 
        }
        .group-barchab-dastebandi{
            position: absolute;
            bottom: 0px;
            background-color: #f5f5f5;
            width: 100%;
            padding: 20px 30px;
            right: 0;
            > .fieldset-wrapper{
                padding: 0px !important;
                .field-name-field-dastebandimemar {
                    margin-bottom: 14px;
                }
                .field-label {
                    line-height: 24px;
                    margin-left: 6px;
                }
                .field-item {
                    display: inline-block;
                    a {
                        color: black !important;
                        font-size: 11px;
                        display: inline-block;
                        /* border: 1px solid #dadada; */
                        margin: 0 5px;
                        padding: 3px 10px;
                        background-color: white;
                        box-shadow: 0px 0px 1px #dadada, 0px 1px 5px #dadada;
                    }
                }
            } 
        }
    }
}

.page-13958 .node-unpublished {
    background-color: transparent !important;
}

