/* 
 * imports section
 */
@import "colors.css.less"; //@mat-grey-50
@import "vars.css.less"; 

//==================
.btn-green,
input[type="button"], 
input[type="submit"],
button{
	.green-btn;
	float: left;
}
input.primary,
button.primary,
a.primary,
.btn-primary{
	.blue-btn;
}
input[value='عزل'],
input[value='حذف'],
input[value='cancel'],
input[type="button"].btn-danger, 
input[type="submit"].btn-danger, 
button.btn-danger, 
input.btn-danger{
	.red-btn;
}
#edit-cancel{
	.btn;
}
input, select, textarea{
	&[disabled], &[readonly]{ opacity: 0.5;}
}
.has-wave{
	&:not(.pos-abs){position: relative;}
	.click-wave {
		.absolute(100%;100%;0;0;0;0);
		overflow: hidden;
		div {
			.absolute();
			transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
			border-radius: 50%;
			transform: scale(0);
			background: #999;
			opacity: 0.3;
		}
		&.whiter div {
			background: #fff;
			opacity: 0.16;
		}
		.scale1 { transform: scale(1) !important;}
		.opacity0 {	opacity: 0 !important;}
	}
}
@-moz-document url-prefix() { 
	.has-wave .click-wave {
		z-index: -1;
	}
}
/*
 *user login and register and editing section
 */
.linkedin-link(){
	a {
		width: 280px;
		padding: 7px;
		text-align: center;
		color: #fff;
		background: #0077b5;
		border-radius: 2px;
		margin: 20px auto 0;
		display: block;
		font-size: 14px;
		position: relative;
		line-height: initial;
		.before(f33c;'';25px;'');
		&:before{ .absolute('';'';6px;'';'';9px);}
	}
}
.user-register-login(){
	label{
		display: inline-block;
		line-height: 30px;
		margin: 0;
	}
	.form-item:not(.form-type-checkbox) input {
		float: left;
		min-width: 250px;
		width: 30%;
		clear: both;
		margin: 0;
	}
	.description {
		padding: 5px 0;
	}
}
#user-login{
	.item-list {
		border-top: 1px solid #ddd;
		margin: 50px auto 20px;
		width: 100%;
		text-align: center;
		max-width: 400px;
		.linkedin-link;
	}
	.user-register-login();
	input{direction: ltr;}
}
#user-register-form {
	.linkedin.register{
		#user-login .item-list ;
		margin: 0 auto;
		border: none;
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
	}
	.user-register-login();
    .form-item.form-item-field-laws-und{
        label{
            line-height: 18px;
        }
        input{
            border: 2px solid #c1c1c1;
        }
    }
}
#user-profile-form{
	.user-register-login();
}

.form-type-managed-file{
	> .description {
		.absolute(335px);
		opacity: 0;
		transition: all 0.2s ease;
		padding: 5px 10px;
		background: #fbfbfb;
		display: inline-block;
		margin-top: 5px;
		border-radius: 2px;
		box-shadow: @z1;
		z-index: 2;
		border: 1px solid @mat-red;
		border-width: 0 2px;
		color: #666;
	}
	&:hover > .description {
		opacity: 1;
	}
}

.page-messages{
	.container .region-content{.no-paper;}
}
form#privatemsg-edit{
	#edit-redirect,
	#edit-field-files-und legend {
		display: none;
	}
}
#privatemsg-list{
	fieldset#edit-filter {
		margin: 0px 0 15px;
		&.collapsed {
			background: transparent;
			margin-bottom: 35px;
		}
		legend {
			font-size: initial;
			border: none;
			text-align: left;
			margin: 0;
			span{
				background: none;
				padding: 0;
			}
			a{	.blue-btn;}
			.summary {display: none;}
		}
		.fieldset-wrapper{
			.paper(z1);
			margin-top: 10px;
			.form-item {
				clear: inherit;
				float: right;
				margin : 0 0 0 30px;
				label {
					float: right;
					width: inherit;
					margin: 0 0 0 10px;
				}
			}
			.form-actions{
				display: inline-block;
				input {
					margin-right:10px;
					&#edit-save {
						display: none;
					}
					.small-btn;
				}
			}
		}
	}
	#privatemsg-list-form{
		display: flex;
		flex-direction: column-reverse;
		.container-inline {
			.paper(z1);
			background: #fcfcfc;
			position: relative;
			z-index: 1;
		}
		.privatemsg-list{
			box-shadow : @z1;
		}
	}
}
.others{
	.privatemsg-message-column {
		background: rgba(232, 239, 246, 0.5);
		border: 1px solid rgba(197, 202, 233, 0.6);
		float: left;
	}
	.privatemsg-author-avatar {
		float: left;
		margin: 0 10px 0px 0px;
	}
}
.privatemsg-message-column {
	background: #f9f9f9;
	border-radius: 5px;
	padding: 10px 5px 3px;
	border: 1px solid #eee;
	float: right;
	width: auto;
	display: inline-block;
	position: relative;
	min-width: 210px;
	max-width: 800px;
}
div.privatemsg-message-information {
	.absolute(auto;'';0;0);
	border: none;
	margin: 0;
}
.privatemsg-author-avatar {
	float: right;
	width: auto;
	margin: 0 0 0px 10px;
	img {
		border-radius: 50%;
		max-width: 60px;
		border: 1px solid #eee;
		box-shadow: 0 0 10px -5px #000;
	}
}
.privatemsg-message {
	width: 100%;
	max-width: inherit;
	background: #fff;
	padding: 0 15px;
	margin-top: 0px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 3px 6px, rgba(0, 0, 0, 0.117647) 0px 3px 4px;
	&.privatemsg-message-first {
		padding-top: 15px;
		box-shadow: @z1;
	}
	&.privatemsg-message-last {
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px -2px, rgba(0, 0, 0, 0.117647) 0px 2px 2px 0px;
		padding-bottom: 15px;	
	}
	+ form{
		margin-top: 15px;
		border-top: 2px solid @mat-purple;
		border-radius: 2px;	
	}
	&:hover ul.privatemsg-message-actions a {
		opacity: 1;
	}
	ul.privatemsg-message-actions{
		float: left;
		a {
			font-size: 11px;
			opacity: 0;
			transition: all 0.2s;
			color: #888 !important;
			padding: 0px 7px;
			&:hover {
				background: #d9534f;
				color: #fff !important;
			}
		}
	}
	.new {
		.absolute('';'';0;'';'';10px);
		opacity: 0.5;
	}
}
div#privatemsg-filter-tags,
span.privatemsg-author-name,
.no-message .message-num {
	display: none;
}
.privatemsg-message-body {
	font-size: 12px;
	white-space: pre-line;
	margin-top:-15px;
    padding: 5px;
}
.privatemsg-message-participants {
	padding: 5px 10px;
	word-spacing: 2px;
	border: 3px solid @mat-purple;
	background: #f9f9f9;
	border-width: 0px 2px;
	margin-bottom: 10px;
	a{
		display: inline-block;
		margin-left: -4px;
		vertical-align: middle;
		font-size: 0;
		width: 40px;
		border-radius: 50%;
		box-shadow: @z1;
		overflow: hidden;
		height: 40px;
		background: #f5f5f5;
		&:nth-child(n+5){ display: none;}
	}
}
td.privatemsg-list-participants{
	max-width: 110px;
	overflow: hidden;
	white-space: nowrap;
	a{
		display: inline-block;
		margin-left: -4px;
		vertical-align: middle;
		font-size: 0;
		width: 40px;
		border-radius: 50%;
		box-shadow: @z1;
		overflow: hidden;
		height: 40px;
		background: #f5f5f5;
		&:nth-child(n+5){ display: none;}
	}
}
form#privatemsg-new{
	.ds-form{
		.paper(z1);
		.fieldset-wrapper {
			padding: 15px;
		}
	}
	.form-type-textfield {
		margin: 0 0 10px 0;
		input {
			margin: 0;
		}
		label {
			display: inline-block;
			width: 70px;
			vertical-align: middle;
			margin: 0;
		}	
	}
	.description {
		margin-top: 5px;
		li{
			margin: 0;
			&:nth-child(2) {display: none;}
		}
	}
	.form-item-body-value label {
		display: none;
	}
	.form-actions{padding: 0;}
}

.userpoints-myuserpoints-total {
	display: none;
}


.boot-filestyle input[type="file"] {
	display: none;
}
.bootstrap-filestyle{
	input {
		margin: initial !important;
		float: none !important;
		min-width: 240px !important;
	}
	+ .form-submit {display: none;}
	.group-span-filestyle{
		float: none;
		padding: initial;
		label {
			line-height: 30px !important;
			height: 30px;
			outline: none;	
		}
		.glyphicon {display: none;}
	}
}

.progress {
	position: relative;
	.progress-bar {
		background: #673AB7;
		.absolute('';100%;'';'';'';0);
		background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
		background-size: 40px 40px;
		animation: progress-bar-stripes 3.5s linear infinite;
		min-width: 5%;
		span {
			color: #fff;
			.absolute(40px;100%;'';calc(~"50% - 20px"));
			text-align: center;
			font-family: fanum;
			font-weight: normal;
		}
	}
}

.page-404{
	.add_redirect a{
		.blue-btn;
		.absolute('';'';'';150px);
	}
	div#page-404 {
		max-width: 1300px;
		margin: auto;
		padding-bottom: 50px;
		width: 100%;
		.center-wrapper:nth-of-type(2) {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row-reverse;
			margin-bottom: 80px;
			margin-top: 30px;	
		    padding: 0 20px;
			@media @600{
				flex-direction: column;
				> div {
					width: 100% !important;
				}
			}
		}
		.num-404 {
			display: block;
			text-align: center;
			@media @768{
				font-size: 120px !important;	
			}
		}
		#search-404{
			.paper(z1);
			margin: auto;
			display: block;
			max-width: 700px;
			width: 100%;
			border-bottom: 1px solid @mat-purple;
			h4 {
				.absolute('';'';-42px);
			}
			.form-item-search-block-form {
				width: calc(~"100% - 100px");
				input.form-text {
					width: 100%;
					height: 36px !important;
					padding: 5px 15px !important;
					margin: 0;
				}
			}
		}
	}	
}

.page-denied.role-authenticated-user{
	.region-content {
		display: none;
	}
	h1#page-title {
		text-align: center;
		padding: 50px;
		display: block;
		margin: 0;
		font-weight: bold;
		font-size: 25px;
		&:before {
			background: url(/sites/all/themes/sara/images/error.png) no-repeat center;
			content: "";
			display: block;
			width: 200px;
			background-size: contain;
			height: 200px;
			margin: 0 auto 20px;
		}
	}
}

body:not(.role-administrator) .admin-error {
	display: none;
}
#block-panels-mini-user-panel{
	#user-login-form {
		.item-list {
			li.first a{
				.blue-btn;
				margin-bottom: 30px;
			}
		}
	}
}


.all-members{
	&.view:not(.view-relations){
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;
	}
	.view-content {
		margin: auto;
		max-width: 1200px;
	}
	.views-row {
		.paper(z1);
		margin: 15px 10px !important;
		text-align: center;
		width: calc(~"25% - 20px") !important;
		max-width: 300px;
		height: 250px;
		display: inline-block;
		vertical-align: top;
		float: right;
		position: relative;
		.views-field-counter {
			.absolute('');
			color: #aaa;
			@media @400{	
				right: 5px;
				top: 5px;
			}
		}
		.views-field-privatemsg-link a,
		.views-field-php a {
			.absolute('';'';'';'';10px;10px);
			.btn;
			.small-btn;
			opacity: 0;
			@media @768{ opacity: 1;	}			
		}
		.views-field-status-link{
			a{
				.absolute('';'';'';10px;10px);
				color: #666 !important;
				font-size: 0;
				border: 1px solid #aaa;
				width: 40px;
				border-radius: 3px;
				text-align: center;
				background: #fff;
				@media @400{
					right: inherit;
					left: 10px;
					top: 10px;
					bottom: inherit;
				}
			}
 			.azl a{
				.before(f008;'';24px;@mat-blue);
			}
			.laghv a{
				.before(f150;'';22px;#666);
			}
			.add a{
				.before(f014;'';22px;#666);
			}
			.accept{
				margin-top: 10px;
				a {
					position: initial;
					border: none;
					.small-btn;
					&:first-child{
						.line-btn(@mat-blue);
						margin-left: -6px;
					}
				}
			}	
		}
		&:hover{
			.views-field-status-link a,
			.views-field-privatemsg-link a,
			.views-field-php a {opacity: 1;}
		}
		.views-field-field-full-name a {
			color: #444 !important;
			font-weight: bold;
		}
		img {
			.user-img(100px);
			@media @480{
				width: 80px;
			}
			@media @400{
				float: right;
				margin: 0 0px 0 20px;
			}
		}
		@media @960{
			width: ~"calc(33.33% - 20px) !important";
		}
		@media @600{
			width: ~"calc(50% - 10px) !important";
			margin: 15px 5px !important;
		}
		@media @400{
			width: ~"calc(100% - 20px) !important";
			max-width: inherit;
			margin: 5px 10px !important;
			text-align: right;
			height: inherit;
			padding-bottom: 30px;			
		}		
	}
	.view-filters {
		.paper(z1);
		max-width: 1200px;
		margin: 20px auto 20px;
		border-bottom: 1px solid @mat-purple;
		width: ~"calc(100% - 20px)";	
		form {
			margin: 0;
			label {
				display: block !important;
				font-weight: 500 !important;
				font-size: 12px;
				line-height: initial !important;
				margin: 4px;
			}
		}
	}
	.views-exposed-widget {
		margin: 0 10px !important;
		width: inherit !important;
		padding: 0 !important;
		vertical-align: bottom;
		min-width: inherit;
	}
		div[id*='edit']:not(:first-child):not(.views-widget-filter-rid) {
		display: none;
	}
	.more-filter {
		border-radius: 2px;
		line-height: 16px;
		width: 30px;
		font-size: 0;
		transition: all 0.2s;
		text-align: center;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		float: right;
		margin-top: 28px;
		cursor: pointer;
		.before(f415;'';18px;#444);
		&:before {
			line-height: 28px;
			font-weight: bold;
		}
		&.opened{
			&:before {content: "\f374";}
		}
	}
	input.form-submit{
		.small-btn;
		margin-top: 28px !important;
	}
}

.user_relationships_ui_popup_form {
	.paper(z2);
	border-radius: 5px;
	width: 300px;
	> div {
		text-align: center;
	}
	form {
		border: none !important;
		margin: 0;
		.form-actions {
			margin: 10px 0 0 0;
			padding: 0;
			input,button,a{.small-btn !important;}
			.form-submit{.red-btn;}
		}
		[name="user_relationships_request_confirm"] ~ .form-actions .form-submit,
		[name="user_relationships_approve_confirm"] ~ .form-actions .form-submit{.blue-btn;}
	}
}

.joyride-tip-guide{
	background: #fff;
	border-radius: 2px;
	box-shadow: @z2;
	color: #555;
	font-family: irans;
    p {
        font-size: 13px;
        line-height: 21px;
    }
	span.joyride-nub{
		box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 7px, rgba(0, 0, 0, 0.227451) 0px 0px 4px;
		background: #fff;
		border: none !important;
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		z-index: -2 !important;
		&.top {top: -10px;}
		&.bottom {bottom: -10px;}
		&.right {right: -10px;}
		&.left {left: -10px;}
	}
	.joyride-content-wrapper {
		z-index: 2;
		position: relative;
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		padding: 15px 15px 5px;
		width: 100%;
		h1,h2,h3,h4,h5,h6{
			color: #555;
			margin-bottom: 20px;
		}
		.joyride-close-tip {
			color: #555 !important;
			left: 10px;
			right: inherit;
		}
		.joyride-next-tip{
			.blue-btn;
			.small-btn;
			float: left;
			margin: -10px 0 10px -5px;
			&:hover{border:none !important;}
		}
	}
}
