@font-face {
	font-family: irans;
	font-style: normal;
	font-weight: normal;
	src: url('/sites/all/themes/sara/fonts/sans/eot/IRANSansWeb.eot');
	src: url('/sites/all/themes/sara/fonts/sans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/sites/all/themes/sara/fonts/sans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/sites/all/themes/sara/fonts/sans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/sites/all/themes/sara/fonts/sans/ttf/IRANSansWeb.ttf') format('truetype');
}
#admin-menu .dropdown li li.expandable ul {
  margin-left: 0;
  margin-right: 160px;
}
#admin-menu .dropdown li ul {
  left: auto;
  right: inherit;
}
.shortcut-toolbar #toolbar {
  display: none;
}
.shortcut-toolbar.active #toolbar {
    display: block;
	  position: relative;
}
#admin-menu,
#toolbar {
  font: normal small "Lucida Grande",irans, Verdana, sans-serif !important;
    font-size: 12px !important;
}
#admin-menu .shortcut-toolbar li {
  float: right;
  margin: 0;
  padding: 0;
}
#branding h1.page-title {
  font-size: 28px !important;
}  
body {
  font: normal 12px/1.8em Open Sans, irans, "Segoe UI", "Helvetica", sans-serif !important;
}  
ul.action-links a {
  font-family: "Helvetica", sans-serif !important;
  padding-bottom: 4px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", irans, "Segoe UI", "Helvetica", sans-serif !important;
  font-weight: bold !important;
}
html body.page-admin-appearance fieldset legend {
  font-family: "Open Sans", irans, "Segoe UI", "Helvetica", sans-serif !important;
  font-weight: bold !important;
}
.form-item label {
  font-family: "Open Sans",irans, "Segoe UI", "Helvetica", sans-serif !important;
}
input[type="submit"][id^="edit-submit"],
input#edit-actions-submit,
input[id^="save-continue"],
input[type="submit"][id^="edit-save"],
input#edit-save, input#edit-submit,
input#edit-actions-save,
.field-widget-inline-entity-form .container-inline .form-submit,
#media-browser-page a.button-yes,
input.add-new-condition,
#edit-field-product-und-form-actions input.ief-entity-submit{
  font-family: "Lucida Grande",irans,Verdana,sans-serif !important;
}
#backtotop {
  height: 50px !important;
  width: 50px !important;
  background-size: cover !important;
}  
#toolbar {
  font: normal small "Lucida Grande",irans, Verdana, sans-serif !important;
    font-size: 12px !important;
}
input.form-submit, a.button, div.exposed-filters input#edit-submit{
  font-family: "Lucida Grande",irans,Verdana,sans-serif !important;
}
table th {
  font-family: "Open Sans", irans, "Helvetica", sans-serif !important;
}
input, select, textarea {
  font-family: "Helvetica Neue",irans, Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
}
td.ctools-export-ui-operations {
  position: relative !important;
}
fieldset legend,
fieldset legend a {
  font-family: "Open Sans",irans, "Segoe UI", "Helvetica", sans-serif !important;
}
body div.warning,
body div.status,
body div.error {
  background-position: 99% 50% !important;
    padding: 10px 50px 10px 10px;
}
.views-exposed-form label {
  font-family: Sans-serif,irans !important;
}
.views-ui-display-tab-bucket .ctools-button-processed {
  right: -5px !important;
  float: left !important;
}
.ctools-dropbutton .ctools-content {
  border-right: 1px solid #e8e8e8;
  border-left: 0 !important;
  margin-right: 1px;
}
body.adminimal-theme .views-ui-display-tab-bucket h3 {
  border-right: 5px solid #ddd;
  border-left: 0 !important;
  font-size: 16px;
}
body.adminimal-theme ul#views-display-menu-tabs {
  float: right !important;
background-color: transparent;
  margin-left: 18em !important;
  margin-right: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", irans,"Segoe UI", "Helvetica", sans-serif;
}
.views-exposed-widget.views-submit-button {
  clear: both;
}
table th {
  font-size: 15px;
  padding: 5px 10px;
}
body strong {
  font-family: irans !important;
}
/*-----------------------------------------imported from seven css-------------------------------------------*/
.form-managed-file label {
  font-size: 14px;
  float: right;
  width: 85px;
}
.ds-2col-stacked-fluid > .group-left {
  float: left;
}
.ds-2col-stacked-fluid > .group-right {
  float: right;
}
#edit-field-gallery-tags .form-type-checkbox {
  width: 30%;
  display: inline-block;
  padding: 0px;
}
#edit-field-gallery-tags .form-type-checkbox label {
  font-size: 12px;
}
div#edit-field-filmtags-und .form-item {
  display: inline-block;
  width: 49%;
  margin: 1px 0;
  padding: 0;
}
div#edit-field-enable {
  background-color: #f5f5f5;
  padding: 10px;
}
div#edit-field-course-undertype, div#edit-field-course-field, div#edit-field-course-type {
width: 30%;
  display: inline-block;
  vertical-align: top;
  padding-right: 1%;
  margin-left: 2%;
  border-right: 1px solid #ddd;
}
div#edit-field-course-code, div#edit-field-edu-duration, div#edit-field-edu-price {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.page-node-edit .field-name-field-pictags .description,
.page-node-edit .field-name-field-filmtags .description,
.page-node-edit .field-name-field-gallery-tags .description,
.page-node-add .field-name-field-pictags .description,
.page-node-add .field-name-field-filmtags .description,
.page-node-add .field-name-field-gallery-tags .description  {
  line-height: 30px !important;
  padding: 0 10px !important;
  color: #f35 !important;
}
#body-add-more-wrapper .tips {
  display: none;
}
#block-webform-client-block-3403 .fieldset-wrapper * {
  margin: 0;
}
#block-webform-client-block-3403 fieldset {
  display: inline-block;
  width: 90%;
  background: #fefefe;
}
#block-webform-client-block-3403 .form-actions {
  display: inline-block;
  vertical-align: top;
  margin: 10px 15px;
}
#block-webform-client-block-3403 .webform-component--support--field, 
#block-webform-client-block-3403 .webform-component--support--content-type {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  font-size: 13px;
}
.group-right #edit-field-files div#edit-field-files-und-ajax-wrapper {
  max-width: 99%;
  overflow: overlay;
}
div#block-webform-client-block-3403 {
  background: #f5f5f5;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
div#block-webform-client-block-3403 .form-submit {
  padding: 3px 15px;
  border-radius: 3px;
  background: #07f;
  color: #fff;
  border: 0;
  margin: 5px 0 -2px 0;
}
div#block-webform-client-block-3403 a.fieldset-title {
  color: #666;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}
#block-webform-client-block-3403 .form-actions:after {
  content: "صفحه reload نخواهد شد !";
  position: absolute;
  width: 150px;
  left: -30px;
  top: 43px;
}
div#edit-field-posterfilm{
  border: 1px solid #ccc;
  margin: 13px 2px 0 0;
  padding: 10px;
}
.chzn-container-single-nosearch .chzn-search {
  left: 0;
}
div#edit-field-backend {
  /*display: none;*/
}
div#edit-field-difficulty-und > div {
  width: 15%;
  display: inline-block;
    min-width: 150px;
}
div#edit-field-difficulty-und > div:nth-child(1):before, div#edit-field-difficulty-und > div:nth-child(6):before, div#edit-field-difficulty-und > div:nth-child(11):before {
  height: 21px;
  content: "";
  position: absolute;
  border-right: 1px dashed #999;
  margin: 18px 8px 0 0;
}
div#edit-field-difficulty-und > div:nth-child(2):before, div#edit-field-difficulty-und > div:nth-child(7):before, div#edit-field-difficulty-und > div:nth-child(12):before {
  content: "";
  position: absolute;
  width: 87px;
  border-bottom: 1px dashed #999;
  right: 9px;
  margin-top: 9px;
}
div#edit-field-difficulty-und > div:nth-child(2), div#edit-field-difficulty-und > div:nth-child(7), div#edit-field-difficulty-und > div:nth-child(12) {
  margin-right: 100px;
}
div#edit-field-difficulty-und > div:nth-child(1), div#edit-field-difficulty-und > div:nth-child(6), div#edit-field-difficulty-und > div:nth-child(11) {
  display: block;
}
div#edit-field-difficulty-und > div:nth-child(1) input, div#edit-field-difficulty-und > div:nth-child(6) input, div#edit-field-difficulty-und > div:nth-child(11) input {
  display: none;
}
/*-----------------------------------------imported from seven css-------------------------------------------*/
ul.container-actions {
  font-family: irans,Arial, Helvetica;
}
fieldset#edit-alternatives-0-answer-format,
#edit-alternatives fieldset fieldset legend,
#edit-alternatives fieldset .text-format-wrapper .filter-wrapper,
#edit-alternatives fieldset fieldset .fieldset-wrapper .text-format-wrapper,
#edit-alternatives fieldset fieldset .fieldset-wrapper > div:nth-child(4){
  display: none;
  /*fieldset#edit-alternatives-settings*/
}
#edit-alternatives fieldset fieldset .fieldset-wrapper {
  display: block !important;
}
#edit-alternatives fieldset fieldset {
  min-height: 60px;
  border-top: none;
  margin: 0;
  padding: 0;
}
.page-admin-structure-views-expose-tables .form-item .form-item {
  direction: ltr;
}
.node-product_kit-form select#edit-products,
.page-node-add-product-kit select#edit-products {
  width: 98%;
  height: 600px;
}
.dblog-event tr:nth-child(4) td, .dblog-event tr:nth-child(6) td {
  direction: ltr;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li ,
div#edit-field-gallery-und > ul.term-reference-tree-level > li {
display: inline-block;
  width: 31.3%;
  vertical-align: top;
  margin: 0 1% 10px 1%;
  padding: 15px 0;
  min-height: 300px;
  background: #fdfdfd;
  border-top: 5px solid;
/*  float: right;*/
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16),0 2px 10px -2px rgba(0,0,0,0.12);
}
div#edit-field-gallery-und > ul.term-reference-tree-level > li{
	min-height: 328px !important;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(1),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(1){
  border-color: #00DCFF;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(2),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(2){
border-color: #FFB100;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(3),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(3){
  border-color: #00FF2B;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(4),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(4){
  border-color: #FFF700;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(5),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(5){
	border-color: #FF00E0;
}
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(5){
	min-height:700px !important;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(6),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(6){
  border-color: #FF0000;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(7),
div#edit-field-gallery-und > ul.term-reference-tree-level > li:nth-child(7){
  border-color: #C000FF;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(8){
  border-color: #00DCFF;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(9){
  border-color: #00DCFF;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(10){
  border-color: #00DCFF;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li > div.form-item label {
  font-size: 19px !important;
  display: inline-block;
  padding: 2px 15px 9px;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li > div.form-item {
  border-bottom: 1px solid #aaa;
  width: 90%;
  line-height: 0;
  margin-bottom: 10px;
}
.no-term-reference-tree-button {
  visibility: hidden;
}
ul.term-reference-tree-level label {
  font-size: 13px !important;
  margin: 5px 0 !important;
  display: inline-block;
}
ul.term-reference-tree-level {
  margin: 0;
}
.term-reference-track-list-label {
  display: none;
}
.term-reference-track-list-container {
  background: #fcfcfc;
  padding: 10px;
  clear: both;
  border-right: 5px solid #d5d;
  border-left: 5px solid #c5c;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px -2px rgba(0,0,0,0.12);
}
ul.term-reference-tree-track-list {
  margin-right: 5px;
}
div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(6), div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(4), div#edit-taxonomy-catalog-und > ul.term-reference-tree-level > li:nth-child(5) {
  min-height: 500px;
}
.term-reference-tree-track-list li.track-item:hover {
  background-position: center right;
  border-color: #f00;
}
.term-reference-tree-track-list li.track-item {
  border-right: 2px solid #0df;
  padding-right: 20px;
  margin-right: 5px;
}
ul.term-reference-tree-level {
  margin: 0;
}
.form-item.form-type-checkbox-tree.form-item-taxonomy-catalog-und {
    padding: 0;
    margin-bottom: 80px;
}
@media (max-width:950px){
    .form-item.form-type-checkbox-tree.form-item-taxonomy-catalog-und {
        margin-bottom: 117px;
    }
} 
ul#admin-menu-menu > li:nth-child(1), ul#admin-menu-menu > li:nth-child(2) {
  border-bottom: 2px solid #ee0;
}
ul#admin-menu-menu > li:nth-child(1) {
  border-right: 1px solid #ee0;
}
ul#admin-menu-menu > li:nth-child(3) {
  border-right: 1px solid #6e0;
}
ul#admin-menu-menu > li:nth-child(3), ul#admin-menu-menu > li:nth-child(4) {
  border-bottom: 2px solid #6e0;
}
ul#admin-menu-menu > li:nth-child(5) {
  border-right: 1px solid #f50;
  padding-right: 10px;
}
ul#admin-menu-menu > li:nth-child(5), ul#admin-menu-menu > li:nth-child(6), ul#admin-menu-menu > li:nth-child(7), ul#admin-menu-menu > li:nth-child(8), ul#admin-menu-menu > li:nth-child(9), ul#admin-menu-menu > li:nth-child(10) {
  border-bottom: 2px solid #f50;
}
.uid-3300 ul#admin-menu-menu > li,
.uid-3989 ul#admin-menu-menu > li{
	border:none !important;
}
th.views-field.views-field-taxonomy-catalog {
  min-width: 200px;
}
div#edit-field-backend-und > * {
  width: 100%;
  box-sizing: border-box;
}
div#edit-field-backend-und {
  max-height: none;
  max-width: none;
  width: 100%;
  overflow: visible;
}
.form-item-field-backend-und {
  display: block !important;
}
div#views-ajax-body .views-messages {
  font-size: 10px;
  line-height: 15px;
}
.views-ui-dialog .form-buttons {
  padding: 2px 10px;
}
.views-override.clearfix.container-inline {
  padding: 0;
}
.field-name-field-image table tr ,
.field-name-field-pictures table tr {
  display: inline-flex;
  width: 48%;
    vertical-align: top;
  min-width: 300px;
  position: relative;
  margin-left: 1%;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 12px;
}
.node-type-multichoice .field-name-field-image table tr ,
page-node-add-multichoice .field-name-field-image table tr{
	/*width: 48% !important;*/
}
.field-name-field-image tbody,
.field-name-field-pictures tbody{
  width: 100%;
  display: block;
}
fieldset#edit-field-image-und thead,
fieldset#edit-field-pictures-und thead,
.field-name-field-image table thead,
.field-name-field-pictures table thead,
.field-name-field-image table .image-widget-data .description,
.field-name-field-pictures table .image-widget-data .description {
  display: none !important;
}
.field-name-field-image table tr > td:last-child,
.field-name-field-pictures table tr > td:last-child {
  margin: 0 !important;
  position: absolute !important;
  display: inline-block !important;
  left: 0;
  border: none;
  padding: 10px 0px;
  opacity: 0;
}
.field-name-field-image table tr:hover > td:last-child ,
.field-name-field-pictures table tr:hover > td:last-child {
  opacity: 1;
}
.field-name-field-image table,
.field-name-field-pictures table {
  background: #eee;
  padding: 10px;
  display: block;
  box-sizing: border-box;
} 
.field-name-field-image table tr:first-child .image-widget-data label,
.field-name-field-pictures table tr:first-child .image-widget-data label {
  opacity: 1;
  font-size: 15px;
  margin-top: 5px;
}
.field-name-field-image table .image-widget-data label,
.field-name-field-pictures table .image-widget-data label {
  opacity: 0;
  font-size: 1px;
}
.field-name-field-image table .image-widget.form-managed-file,
.field-name-field-pictures table .image-widget.form-managed-file {
  display: flex;
}
.field-name-field-image table tr td ,
.field-name-field-pictures table tr td {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  overflow: overlay;
}
span.for-alt a {
  border: 1px solid #06f;
  padding: 5px;
}
span.for-alt {
  position: absolute;
  left: 0;
  margin: 20px;
  font-size: 13px;
}
table#field-edu-collection-c-values > tbody > tr tbody tr{
  width: 32%;
  /* width: 370px; */
  overflow: overlay;
  max-width: 100%;
  margin: 10px 0.5%;
  vertical-align: top;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  float: right;
}
table#field-edu-collection-c-values > tbody > tr {
  display: block !important;
}
table#field-edu-collection-c-values tbody > tr > td {
  display: block;
  position: relative;
}
table#field-edu-collection-c-values > tbody > tr input {
  max-width: 200px;
}
table#field-edu-collection-c-values > tbody > tr tbody tr label {
  display: none;
}
table#field-edu-collection-c-values > tbody > tr tbody tr:first-child label {
  font-size: 12px;
  display: inline-block;
  width: 60px;
}
table#field-edu-collection-c-values > tbody > tr td > div {
  margin-bottom: 5px;
}
table#field-edu-collection-c-values > tbody > tr .field-name-field-tickets tbody tr {
  box-shadow: none;
  margin: 0;
  width: 100%;
}
table#field-edu-collection-c-values > tbody > tr .field-name-field-tickets tbody tr tr tr {
  overflow: initial;
  max-width: 100%;
  margin: 0;
  float: none;
  color: #000;
  width: auto;
}
table#field-edu-collection-c-values .filter-wrapper {
  display: none;
}
table#field-edu-collection-c-values > tbody thead {
  display: none;
}
table#field-edu-collection-c-values > tbody > tr .field-name-field-tickets tbody tr td {
  padding: 0;
}
table#field-edu-collection-c-values > tbody > tr input.form-submit {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2px;
  opacity: 0;
  margin: 10px;
}
table#field-edu-collection-c-values > tbody > tr *:hover > input.form-submit {
  opacity: 1;
}
div#edit-field-edu-collection-c {
  background: #eee;
}
table#field-edu-collection-c-values > * > tr {
  background: #eee;
  border-bottom: 2px solid #a0a;
}
table#field-edu-collection-c-values fieldset {
  margin-bottom: 5px;
  padding: 0;
}
table#field-edu-collection-c-values > tbody > tr .field-add-more-submit {
    bottom: 0 !important;
    top: inherit !important;
    opacity: 1 !important;
}
table#field-edu-collection-c-values > tbody > tr .field-name-field-tickets #field-tickets-values > tbody > tr:nth-child(2) {
  display: none;
}
fieldset, .field-type-list-boolean, .field-type-hms-field, .field-type-image, .field-type-file, .field-type-taxonomy-term-reference {
  background: rgba(138, 138, 138, 0.03);
  padding: 1%;
  margin: 2% 0;
  border: 1px solid #f0f1f2;
  position: relative;
  box-shadow: 0 2px 10px -6px #000 !important;
}
.image-widget .image-preview {
  float: right !important;
}
div#edit-body {
  margin: 15px 0;
}
fieldset legend {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-item-field-academic-und .description{
	color: #bd2f2f !important;
    width: 967px;
    line-height: 30px !important;
    background-color: rgb(249, 249, 249) !important;
    quotes: "“" "”" "‘" "’";
    position: relative;
    font-size: 16px !important;
    border-right: 5px solid rgb(204, 204, 204) !important;
    padding: 0.5em 12px 0.5em 10px !important;
	display: inline-block;
    width: 76%;
}
.form-item-field-academic-und .description:before {
    content: open-quote;
    font-size: 5em;
    line-height: 20px;
    margin-right: 0.1em;
    vertical-align: -0.45em;
    padding-left: 0;
    width: 33px;
    height: 8px;
    display: inline-block;
}
#edit-field-academic-und{
	display: inline-block;
    width: 15%;
}
.field-type-node-reference.field-name-field-comment-nid {
	display:none;
}
.role-administrator .field-type-node-reference.field-name-field-comment-nid {
	display:block !important;
}
#money-request-form tr.disabled input {
  display: none !important;
}
#money-request-form tr.disabled {
  opacity: 0.8;
  background: #eee;
  border-right: 5px solid #6d0;
}
#money-request-form tr.disabled td:first-child:before {
  content: "\f12c";
  font-family: mat;
  color: #6d0;
  font-size: 25px;
  margin: -4px 10px 0 0;
  display: block;
}

/*---------------quiz----------------------*/

#edit-alternatives #edit-alternatives-0,
#edit-alternatives #edit-alternatives-1,
#edit-alternatives #edit-alternatives-2,
#edit-alternatives #edit-alternatives-3{
	width: 49%;
    display: inline-block;
	vertical-align:top;
	padding-top: 0;
}
#edit-alternatives thead{
	display:none;
}
#edit-alternatives .form-item label {
    font-size: 12px !important;
}
#edit-alternatives .form-type-textarea > label{
	display:none;
}
#edit-alternatives .description {
	display: none;
}
/*-------------page-orders-----------------*/

.page-admin-store-orders-view td {
    text-align: right !important;
}
.node-type-product .field-name-taxonomy-catalog .description,
.page-node-add-product .field-name-taxonomy-catalog .description{
    position: absolute;
    bottom: 8px;
    right: 2%;
    padding: 17px 20px 0px 20px;
    /* border-right: 4px solid #ff0000; */
    background: #fdfdfd;
    width: 93%;
    line-height: 29px;
    text-align: center;
    border: 1px solid #eee;
    font-size: 15px;
}
.node-type-product .field-name-taxonomy-catalog .description b,
.page-node-add-product .field-name-taxonomy-catalog .description b {
    color: #ea0000;
    font-size: 15px;
}
#field-percent-values td:not(.draggable) {
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-around;
  overflow: auto;
}
#field-percent-values td > div {
  margin: 0 10px;
  background: transparent !important;
  box-shadow: none !important;
  border: none;
}
#field-percent-values td > div label {
  font-size: 15px;
}
#field-percent-values td > input {
  margin: 3px 10px;
}
.order-pane-table th {
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
background: #fbfbfb !important;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.order-pane-table td {
  padding: 15px;
  border: none !important;
}
.order-pane-table {
  border: 1px solid #eee;
}
table tr.even {
  background: #f4f4f4;
}
div#order-pane-line_items td {
  padding: 3px 10px;
  border: none;
border: none !important;
}
div#order-pane-line_items {
  width: 200px;
  margin-right: auto;
  border: solid #6d0;
  border-width: 0 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
form div#order-pane-line_items {
  width: inherit;
}
.order-pane {
  border-color: #eee;
}
.page-admin-store-orders fieldset#edit-redirect,
div#order-pane-admin_comments,
fieldset#edit-admin-comment-field,
div#order-pane-update .order-pane-title,
div#order-pane-packages,
div#order-pane-ship_to .order-pane-title,
div#order-pane-order_comments .order-pane-title,
div#order-pane-products .order-pane-title {
  display: none;
}
div#order-pane-payment,
div#order-pane-customer {
  border: none;
  border-right: 5px solid #2196F3;
  background: #fbfbfb;
  padding: 10px;
}
div#order-pane-payment {
  border-color: #8BC34A;
}
div#order-pane-ship_to ~div#order-pane-bill_to {
  display: none;
}
.ADRES-CONTEINER ~ br,
.order-pane br ~ br {
  display: none;
}
.POSTI, .PHON {
  display: inline-block;
  margin-left: 10px;
  padding: 3px 5px;
}
.ADRES {
  padding: 0px 5px 0px !important;
  margin: 8px 0 5px 0;
}
.order-pane br ~strong {
  font-weight: normal !important;
  padding: 0 5px;
}
.ADRES-CONTEINER > div:first-child {
  font-size: 15px !important;
  padding: 0 5px;
}
div#order-pane-bill_to,
div#order-pane-ship_to {
  border: none;
  border-right: 5px solid #FF9800;
  background: #fbfbfb;
}
.order-pane {
  line-height: initial;
}
table.line-item-table {
  margin: 0;
}
.page-admin-store-orders- div#block-system-main >.content > .field-name-field-text {
  background: #fbfbfb;
  float: right;
  margin: 6px;
  padding: 10px;
  border-right: 5px solid #F44336;
}
select#edit-ship-to-select-address {
  max-width: 800px;
}
div#order-pane-webform_nid3403, div#webform-client-form-3403 {
  display: none;
}
div#order-pane-quotes, #edit-field-text {
  clear: both;
}
.page-admin-content-messages #block-system-main table th:nth-child(2), 
.page-admin-content-messages #block-system-main table td:nth-child(2), 
.page-admin-content-messages #block-system-main table th:nth-child(9), 
.page-admin-content-messages #block-system-main table td:nth-child(9), 
.page-admin-content-messages #block-system-main table th:nth-child(4), 
.page-admin-content-messages #block-system-main table td:nth-child(4){
	display: none;
}
span.file {
	position: relative;
}
.autocomplete-deluxe-container {
  background: #fefefe !important;
  border: 1px solid #dbdbdb !important;
  box-shadow: none !important;
  border-radius: 2px;
  display: block !important;
  width: 100% !important;
}
.autocomplete-deluxe-container input#autocomplete-deluxe-input {
  float: none !important;
  width: 250px !important;
  box-shadow: 0 0px 4px #555 !important;
  outline: none;
  margin: 3px;
}
.autocomplete-deluxe-container .autocomplete-deluxe-item {
  margin: 3px 1px 3px 5px !important;
  line-height: 8px;
}
.ui-autocomplete {
  border: 1px solid #ccc;
  width: 250px;
  overflow: auto !important;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
#views-form-experts-page .acceptخیر {
    color: #a92d2d;
    font-style: italic;
    font-weight: bold;
    opacity: 0.6;
}

.page-node-edit.node-type-publication .field-name-field-point-needed .description{
  color: red;
  font-weight: bold;
}

.page-admin-structure-services-log .content .form-wrapper .fieldset-wrapper{
  display: flex;
  justify-content: space-around;
}
.page-admin-structure-services-log .content table th{text-align: center;}
.page-admin-structure-services-log .content table td{text-align: center;}